<table width="914" width="894" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top" height="9"></td>
  </tr>
  <tr>
    <td align="left" valign="top" with="584"><span class="HeadingInnerpages">Portfolio Search</span></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="top" with="584">
      <%= tabnav :portfolio_search %>
    </td>
  </tr>
  <tr>
    <td align="left" class="BasicSearchBg" style="padding-left:20px;">

      <table width="600" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="20"></td>
        </tr>
        <tr>
          <td width="35" class="Heading02TextSmall" valign="middle" style="padding-top:3px;">Name</td>
          <td width="205" align="left" valign="middle"><input name="textfield" type="text" class="SearchInput01a01" id="textfield" /></td>
          <td width="5"></td>
          <td width="364" align="left" valign="middle"><a href="#"><img src="/images/btn02_search.gif" alt="" border="0" /></a></td>
        </tr>
        <tr>
          <td height="20"></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td height="60" align="center">
      <table width="800" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="10"><img src="/images/cor01.gif" alt="" border="0" /></td>
          <td width="800" class="CorBg01"></td>
          <td width="10"><img src="/images/cor02.gif" alt="" border="0" /></td>
        </tr>
        <tr>
          <td width="10" class="CorBg02"></td>
          <td width="800" valign="top">


            <div style="border-bottom:1px solid #f5f4ee; width:790px; float:left;"><div class="SubHeadingInnerpagesNew">Loan Files With Incomplete Information </div><div style="float:right; text-align:right; padding-top:5px;"><a href="#" target="_self"><img src="/images/i.gif" alt="" border="0" /></a></div></div><br /><br />

            <table width="800" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="800" align="left">

                  <table width="770" border="0" cellpadding="0" cellspacing="0" class="Text20">
                    <tr>
                      <td width="120" align="left" valign="bottom" class="SubHeadingBlack">
                        <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="bottom">Name</td>
                            <td width="2"></td>
                            <td valign="bottom">
                            <a href="#"><img src="/images/arrow_up.gif" alt="" border="0" /></a></td>
                          </tr>
                      </table></td>
                      <td width="10"></td>
                      <td width="120" align="left" valign="bottom" class="SubHeadingBlack">
                        <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="bottom" align="left">File Name /<br />Loan Number</td>
                            <td width="2"></td>
                            <td valign="bottom">

                            <a href="#"><img src="/images/arrow_down.gif" alt="" border="0" /></a></td>
                          </tr>
                      </table></td>
                      <td width="10"></td>
                      <td width="120" align="left" valign="bottom" class="SubHeadingBlack">
                        <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="bottom">Property Address</td>
                            <td width="2"></td>
                            <td valign="bottom">

                            <a href="#"><img src="/images/arrow_down.gif" alt="" border="0" /></a></td>
                          </tr>
                      </table></td>
                      <td width="10"></td>
                      <td width="120" align="left" valign="bottom" class="SubHeadingBlack">
                        <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="bottom">City</td>
                            <td width="2"></td>
                            <td valign="bottom">

                            <a href="#"><img src="/images/arrow_down.gif" alt="" border="0" /></a></td>
                          </tr>
                      </table></td>
                      <td width="10"></td>
                      <td width="120" align="left" valign="bottom" class="SubHeadingBlack">
                        <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="bottom">File Error</td>
                            <td width="2"></td>
                            <td valign="bottom">

                            <a href="#"><img src="/images/arrow_down.gif" alt="" border="0" /></a></td>
                          </tr>
                      </table></td>
                      <td width="10"></td>
                      <td width="120" align="left" valign="bottom" class="SubHeadingBlack">
                        <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="bottom" align="left">Delete From Portfolio Results?</td>
                            <td width="2"></td>
                            <td valign="bottom">

                            <a href="#"><img src="/images/arrow_down.gif" alt="" border="0" /></a></td>
                          </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td height="15"></td>
                    </tr>
                  </table>

                  <div style="width:auto; height:180px; overflow:auto; /*width:660px;*/">
                    <table width="770" border="0" cellpadding="0" cellspacing="0" class="Text20">
                      <tr class="Row01">
                        <td width="120" valign="top" align="left"><strong>Wilkins, Anne</strong></td>
                        <td width="10"></td>
                        <td width="120" valign="top" align="left">4010210.BRW</td>
                        <td width="10"></td>
                        <td width="120" valign="top" align="left">3108 Alexis Drive</td>
                        <td width="10"></td>
                        <td width="120" valign="top" align="left">Palo Alto</td>
                        <td width="10"></td>
                        <td width="120" valign="top" align="left">Missing Loan Rate</td>
                        <td width="10"></td>
                        <td width="120" valign="top" align="center"><input type="checkbox" /></td>
                      </tr>
                      <tr class="Row02">
                        <td valign="top" align="left"><strong>Williams, Ted</strong></td>
                        <td></td>
                        <td valign="top" align="left">4210720.BRW</td>
                        <td></td>
                        <td valign="top" align="left">123 Main Street</td>
                        <td></td>
                        <td valign="top" align="left">Los Altos</td>
                        <td></td>
                        <td valign="top" align="left">HELOC Balance Unknown</td>
                        <td></td>
                        <td valign="top" align="center"><input type="checkbox" /></td>
                      </tr>
                      <tr class="Row01">
                        <td valign="top" align="left"><strong>Jones, John</strong></td>
                        <td></td>
                        <td valign="top" align="left">061205005</td>
                        <td></td>
                        <td valign="top" align="left">94 Ist Avenue</td>
                        <td></td>
                        <td valign="top" align="left">Santa Cruz</td>
                        <td></td>
                        <td valign="top" align="left">Loand Abandoned</td>
                        <td></td>
                        <td valign="top" align="center"><input type="checkbox" /></td>
                      </tr>
                      <tr class="Row02">
                        <td valign="top" align="left"><strong>Wilkins, Anne</strong></td>
                        <td></td>
                        <td valign="top" align="left">4010210.BRW</td>
                        <td></td>
                        <td valign="top" align="left">3108 Alexis Drive</td>
                        <td></td>
                        <td valign="top" align="left">Palo Alto</td>
                        <td></td>
                        <td valign="top" align="left">Missing Loan Rate</td>
                        <td></td>
                        <td valign="top" align="center"><input type="checkbox" /></td>
                      </tr>
                      <tr class="Row01">
                        <td valign="top" align="left"><strong>Williams, Ted</strong></td>
                        <td></td>
                        <td valign="top" align="left">4210720.BRW</td>
                        <td></td>
                        <td valign="top" align="left">123 Main Street</td>
                        <td></td>
                        <td valign="top" align="left">Los Altos</td>
                        <td></td>
                        <td valign="top" align="left">HELOC Balance Unknown</td>
                        <td></td>
                        <td valign="top" align="center"><input type="checkbox" /></td>
                      </tr>
                      <tr class="Row02">
                        <td valign="top" align="left"><strong>Jones, John</strong></td>
                        <td></td>
                        <td valign="top" align="left">061205005</td>
                        <td></td>
                        <td valign="top" align="left">94 Ist Avenue</td>
                        <td></td>
                        <td valign="top" align="left">Santa Cruz</td>
                        <td></td>
                        <td valign="top" align="left">Loand Abandoned</td>
                        <td></td>
                        <td valign="top" align="center"><input type="checkbox" /></td>
                      </tr>
                      <tr class="Row01">
                        <td valign="top" align="left"><strong>Jones, John</strong></td>
                        <td></td>
                        <td valign="top" align="left">061205005</td>
                        <td></td>
                        <td valign="top" align="left">94 Ist Avenue</td>
                        <td></td>
                        <td valign="top" align="left">Santa Cruz</td>
                        <td></td>
                        <td valign="top" align="left">Loand Abandoned</td>
                        <td></td>
                        <td valign="top" align="center"><input type="checkbox" /></td>
                      </tr>
                      <tr class="Row02">
                        <td valign="top" align="left"><strong>Wilkins, Anne</strong></td>
                        <td></td>
                        <td valign="top" align="left">4010210.BRW</td>
                        <td></td>
                        <td valign="top" align="left">3108 Alexis Drive</td>
                        <td></td>
                        <td valign="top" align="left">Palo Alto</td>
                        <td></td>
                        <td valign="top" align="left">Missing Loan Rate</td>
                        <td></td>
                        <td valign="top" align="center"><input type="checkbox" /></td>
                      </tr>
                      <tr class="Row01">
                        <td valign="top" align="left"><strong>Williams, Ted</strong></td>
                        <td></td>
                        <td valign="top" align="left">4210720.BRW</td>
                        <td></td>
                        <td valign="top" align="left">123 Main Street</td>
                        <td></td>
                        <td valign="top" align="left">Los Altos</td>
                        <td></td>
                        <td valign="top" align="left">HELOC Balance Unknown</td>
                        <td></td>
                        <td valign="top" align="center"><input type="checkbox" /></td>
                      </tr>
                      <tr class="Row02">
                        <td valign="top" align="left"><strong>Jones, John</strong></td>
                        <td></td>
                        <td valign="top" align="left">061205005</td>
                        <td></td>
                        <td valign="top" align="left">94 Ist Avenue</td>
                        <td></td>
                        <td valign="top" align="left">Santa Cruz</td>
                        <td></td>
                        <td valign="top" align="left">Loand Abandoned</td>
                        <td></td>
                        <td valign="top" align="center"><input type="checkbox" /></td>
                      </tr>
                    </table>
                </div></td>
              </tr>
          </table></td>
          <td width="10" class="CorBg03"></td>
        </tr>
        <tr>
          <td><img src="/images/cor03.gif" alt="" border="0" /></td>
          <td class="CorBg04"></td>
          <td><img src="/images/cor04.gif" alt="" border="0" /></td>

        </tr>
    </table></td>
  </tr>
</table></td>
</tr>
</table>