<table width="320" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><img src="/images/cor01.gif" alt="" border="0" /></td>
							<td class="CorBg01"></td>
							<td><img src="/images/cor02.gif" alt="" border="0" /></td>
						</tr>
						<tr>
							<td width="10" class="CorBg02"></td>
							<td valign="top" width="300">
								<div class="Heading01Divs05">
								<%= render_box_arrow(__FILE__, "Estimated Tax Benefit") %>
								</div><br /><br /><br /><br />
								
								<table width="300" border="0" cellspacing="0" cellpadding="2" class="Text02">
								<tr>
									<td valign="middle"><strong>Household Income</strong></td>
									<td width="10"></td>
									<td valign="middle" align="right"><span>$000,000</span></td>
								</tr>
								<tr>
									<td valign="middle"><strong>Year 1 Interest Payment</strong></td>
									<td width="10"></td>
									<td valign="middle"></td>
								</tr>
								<tr>
									<td valign="middle">Primary Loan</td>
									<td width="10"></td>
									<td valign="middle" align="right"><span>$00,000</span></td>
								</tr>
								<tr>
									<td valign="middle">Secondary Loan</td>
									<td width="10"></td>
									<td valign="middle" align="right"><span>$00,000</span></td>
								</tr>
								<tr>
									<td valign="middle"><strong>Total</strong></td>
									<td width="10"></td>
									<td valign="middle" align="right"><strong><span>$00,000</span></strong></td>
								</tr>
								<tr>
									<td height="10"></td>
								</tr>
								<tr>
									<td valign="middle"><strong>Estimated Tax Benefit @ 25.01%</strong></td>
									<td width="10"></td>
									<td valign="middle" align="right"><span>$00,000</span></td>
								</tr>
								<tr>
									<td valign="middle"><strong>After-Tax Cost of Interest</strong></td>
									<td width="10"></td>
									<td valign="middle" align="right"><span>$00,000</span></td>
								</tr>
								<tr>
									<td valign="middle"><strong>After-Tax Payment</strong></td>
									<td width="10"></td>
									<td valign="middle" align="right"><span>$00,000</span></td>
								</tr>
								</table></td>
							<td width="10" class="CorBg03"></td>
						</tr>
						<tr>
							<td><img src="/images/cor03.gif" alt="" border="0" /></td>
							<td class="CorBg04"></td>
							<td><img src="/images/cor04.gif" alt="" border="0" /></td>
						</tr>
						</table>