<table width="320" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="/images/cor01.gif" alt="" border="0" /></td>
    <td class="CorBg01"></td>
    <td><img src="/images/cor02.gif" alt="" border="0" /></td>
  </tr>
  <tr>
    <td width="10" class="CorBg02"></td>
    <td valign="top" width="300">
      <div class="Heading01Divs"><%= render_box_arrow(__FILE__, "Estimated Closing Costs") %></div><br /><br /><br /><br />

      <table width="300" border="0" cellspacing="0" cellpadding="0" class="Text02">
        <tr>
          <td colspan="3">
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="top"><span><strong>Choose a Closing Cost Scenario:</strong></span></td>
              </tr>
              <tr>
                <td valign="middle">
                  <select class="Combo01">
                    <option>&nbsp;</option>
                </select></td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td height="10"></td>
        </tr>
        <tr>
          <td valign="top" colspan="3"><span><strong>Or Enter a New Closing Cost Scenario Name:</strong></span></td>
        </tr>
        <tr>
          <td valign="middle"><input type="text" class="Input01" value="enter a scenario name" /></td>
          <td width="10"></td>
          <td valign="middle"><a href="#" target="_self"><img src="/images/btn_save.gif" alt="" border="0" /></a></td>
        </tr>
        <tr>
          <td height="40"></td>
        </tr>
      </table>

      <table width="300" border="0" cellspacing="0" cellpadding="2" class="Text02">
        <tr>
          <td colspan="9">
            <div class="TextLink02">
          <a href="#" target="_self">Loan Fees</a><img src="/images/textlink_arrow02.gif" alt="" border="0" /></div></td>
        </tr>
        <tr>
          <td valign="bottom"></td>
          <td width="10"></td>
          <td valign="bottom" align="center">Percent</td>
          <td width="10"></td>
          <td valign="bottom" align="center">Dollars</td>
          <td width="10"></td>
          <td valign="bottom">POC</td>
          <td width="10"></td>
          <td valign="bottom">APR</td>
        </tr>
        <tr>
          <td valign="middle">Origination</td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="1.50%" /></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="$12,000" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Discount</td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="1.50%" /></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Broker</td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="1.50%" /></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="$12,000" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Application Fee</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Appraisal</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="$000" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Commitment Fee</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Credit Report</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Document Preparation</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Extension</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Flood Certificate</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="$0" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Funding Fee</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Postage / Courier</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Processing</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Service Fee</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Tax Service</td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="0.00%" /></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="$00" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Underwriting</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="$00" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Wire Transfer</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle"><input type="text" class="Input04" value="" /></td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle"><input type="text" class="Input04" value="" /></td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle"><input type="text" class="Input04" value="" /></td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td height="40"></td>
        </tr>
      </table>

      <table width="300" border="0" cellspacing="0" cellpadding="2" class="Text02">
        <tr>
          <td colspan="9">
            <div class="TextLink02">
          <a href="#" target="_self">Title Fees</a><img src="/images/textlink_arrow02.gif" alt="" border="0" /></div></td>
        </tr>
        <tr>
          <td valign="bottom"></td>
          <td width="10"></td>
          <td valign="bottom" align="center">Percent</td>
          <td width="10"></td>
          <td valign="bottom" align="center">Dollars</td>
          <td width="10"></td>
          <td valign="bottom">POC</td>
          <td width="10"></td>
          <td valign="bottom">APR</td>
        </tr>
        <tr>
          <td valign="middle">Attorney, Closing or Settlement Fees</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">City County Fees</td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="0.00" /></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Closing</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Commitment</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Endorsement</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="$000" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Exam</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Lender Policy</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Notary Fee</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Owner's Policy</td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="0.00%" /></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Pest, Other Inspection</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="$0" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Recording Fee</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Title Insurance</td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="0.00%" /></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Title Search</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">State Fees</td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="0.00%" /></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle">Survey</td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="$00" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle"><input type="text" class="Input04" value="$00" /></td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="0" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle"><input type="text" class="Input04" value="$00" /></td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="0" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
        <tr>
          <td valign="middle"><input type="text" class="Input04" value="$00" /></td>
          <td></td>
          <td valign="middle"></td>
          <td></td>
          <td valign="middle"><input type="text" class="Input03" value="0" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
          <td></td>
          <td valign="middle"><input type="checkbox" /></td>
        </tr>
    </table></td>
    <td width="10" class="CorBg03"></td>
  </tr>
  <tr>
    <td><img src="/images/cor03.gif" alt="" border="0" /></td>
    <td class="CorBg04"></td>
    <td><img src="/images/cor04.gif" alt="" border="0" /></td>
  </tr>
</table>