<table width="584" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><img src="/images/cor01.gif" alt="" border="0" /></td>
							<td class="CorBg01"></td>
							<td><img src="/images/cor02.gif" alt="" border="0" /></td>
						</tr>
						<tr>
							<td width="10" class="CorBg02"></td>
							<td width="564" valign="top">
								<div class="Heading01Divs"><%= render_box_arrow(__FILE__, "Estimated Home Appreciation") %></div><br /><br /><br /><br />
								
								<table width="564" border="0" cellspacing="0" cellpadding="0" class="Text01">
								<tr>
									<td valign="top"><span class="ColorHeading01">Property Value Over Time</span></td>
								</tr>
								<tr>
									<td valign="top">
										<table width="564" border="0" cellspacing="0" cellpadding="2">
										<tr>
											<td valign="bottom" colspan="11" align="center">Annual Appreciation Rate</td>
										</tr>									
										<tr>
											<td valign="bottom" align="center" class="Row03Lines">&nbsp;</td>
											<td width="10" class="Row03Lines">&nbsp;</td>
											<td valign="bottom" align="center" class="Row03Lines">1.00%</td>
											<td width="10" class="Row03Lines">&nbsp;</td>
											<td valign="bottom" align="center" class="Row03Lines">2.00%</td>
											<td width="10" class="Row03Lines">&nbsp;</td>
											<td valign="bottom" align="center" class="Row03Lines">3.00%</td>
											<td width="10" class="Row03Lines">&nbsp;</td>
											<td valign="bottom" align="center" class="Row03Lines">4.00%</td>
											<td width="10" class="Row03Lines">&nbsp;</td>
											<td valign="bottom" align="center" class="Row03Lines">5.00%</td>
										</tr>
										<tr class="Row01">
											<td valign="middle" align="center"><span>Year 1</span></td>
											<td></td>
											<td valign="middle" align="center"><span>$0,000,000</span></td>
											<td></td>
											<td valign="middle" align="center"><span>$0,000,000</span></td>
											<td></td>
											<td valign="middle" align="center"><span>$0,000,000</span></td>
											<td></td>
											<td valign="middle" align="center"><span>$0,000,000</span></td>
											<td></td>
											<td valign="middle" align="center"><span>$0,000,000</span></td>
										</tr>
										<tr class="Row02">
											<td valign="middle" align="center"><span>Year 3</span></td>
											<td></td>
											<td valign="middle" align="center"><span>0,000,000</span></td>
											<td></td>
											<td valign="middle" align="center"><span>0,000,000</span></td>
											<td></td>
											<td valign="middle" align="center"><span>0,000,000</span></td>
											<td></td>
											<td valign="middle" align="center"><span>0,000,000</span></td>
											<td></td>
											<td valign="middle" align="center"><span>0,000,000</span></td>
										</tr>
										<tr class="Row01">
											<td valign="middle" align="center"><span>Year 5</span></td>
											<td></td>
											<td valign="middle" align="center"><span>0,000,000</span></td>
											<td></td>
											<td valign="middle" align="center"><span>0,000,000</span></td>
											<td></td>
											<td valign="middle" align="center"><span>0,000,000</span></td>
											<td></td>
											<td valign="middle" align="center"><span>0,000,000</span></td>
											<td></td>
											<td valign="middle" align="center"><span>0,000,000</span></td>
										</tr>
										<tr class="Row02">
											<td valign="middle" align="center"><span>Year 10</span></td>
											<td></td>
											<td valign="middle" align="center"><span>0,000,000</span></td>
											<td></td>
											<td valign="middle" align="center"><span>0,000,000</span></td>
											<td></td>
											<td valign="middle" align="center"><span>0,000,000</span></td>
											<td></td>
											<td valign="middle" align="center"><span>0,000,000</span></td>
											<td></td>
											<td valign="middle" align="center"><span>0,000,000</span></td>
										</tr>
										</table></td>
								</tr>
								</table>
								
								<table width="564" border="0" cellspacing="0" cellpadding="0" class="Text01">
								<tr>
									<td height="40"></td>
								</tr>
								</table>
								
								<table width="564" border="0" cellspacing="0" cellpadding="0" class="Text01">
								<tr>
									<td valign="top"><span class="ColorHeading01">Months Until Excess Equity</span></td>
								</tr>
								<tr>
									<td valign="top">
										<table width="564" border="0" cellspacing="0" cellpadding="2">
										<tr>
											<td valign="bottom" colspan="11" align="center">Annual Appreciation Rate</td>
										</tr>									
										<tr>
											<td valign="bottom" align="center" class="Row03Lines">Excess Equity</td>
											<td width="10" class="Row03Lines">&nbsp;</td>
											<td valign="bottom" align="center" class="Row03Lines">1.00%</td>
											<td width="10" class="Row03Lines">&nbsp;</td>
											<td valign="bottom" align="center" class="Row03Lines">2.00%</td>
											<td width="10" class="Row03Lines">&nbsp;</td>
											<td valign="bottom" align="center" class="Row03Lines">3.00%</td>
											<td width="10" class="Row03Lines">&nbsp;</td>
											<td valign="bottom" align="center" class="Row03Lines">4.00%</td>
											<td width="10" class="Row03Lines">&nbsp;</td>
											<td valign="bottom" align="center" class="Row03Lines">5.00%</td>
										</tr>
										<tr class="Row01">
											<td valign="middle" align="center"><span>S00,000</span></td>
											<td></td>
											<td valign="middle" align="center"><span>8 Months</span></td>
											<td></td>
											<td valign="middle" align="center"><span>29 Months</span></td>
											<td></td>
											<td valign="middle" align="center"><span>19 Months</span></td>
											<td></td>
											<td valign="middle" align="center"><span>14 Months</span></td>
											<td></td>
											<td valign="middle" align="center"><span>11 Months</span></td>
										</tr>
										<tr class="Row02">
											<td valign="middle" align="center"><span>S00,000</span></td>
											<td></td>
											<td valign="middle" align="center"><span>8 Months</span></td>
											<td></td>
											<td valign="middle" align="center"><span>29 Months</span></td>
											<td></td>
											<td valign="middle" align="center"><span>19 Months</span></td>
											<td></td>
											<td valign="middle" align="center"><span>14 Months</span></td>
											<td></td>
											<td valign="middle" align="center"><span>11 Months</span></td>
										</tr>
										<tr class="Row01">
											<td valign="middle" align="center"><span>S00,000</span></td>
											<td></td>
											<td valign="middle" align="center"><span>8 Months</span></td>
											<td></td>
											<td valign="middle" align="center"><span>29 Months</span></td>
											<td></td>
											<td valign="middle" align="center"><span>19 Months</span></td>
											<td></td>
											<td valign="middle" align="center"><span>14 Months</span></td>
											<td></td>
											<td valign="middle" align="center"><span>11 Months</span></td>
										</tr>
										<tr class="Row02">
											<td valign="middle" align="center"><span>S00,000</span></td>
											<td></td>
											<td valign="middle" align="center"><span>8 Months</span></td>
											<td></td>
											<td valign="middle" align="center"><span>29 Months</span></td>
											<td></td>
											<td valign="middle" align="center"><span>19 Months</span></td>
											<td></td>
											<td valign="middle" align="center"><span>14 Months</span></td>
											<td></td>
											<td valign="middle" align="center"><span>11 Months</span></td>
										</tr>
										</table></td>
								</tr>
								<tr>
									<td valign="top">
										<table border="0" cellspacing="0" cellpadding="0" align="center">
										<tr>
											<td height="10"></td>
										</tr>
										<tr>
											<td valign="middle"><%= link_to image_tag("/images/btn_inputanew.gif" , :alt=>"Insert New scenario" ,:border=>"0"), new_new_loan_proposal_proposal_scenario_path(@proposal) %></td>
											<td width="10"></td>
											<td valign="middle"><span>or</span></td>
											<td width="10"></td>
											<td valign="middle" align="center">
											<%= link_to image_tag("/images/btn_continucamparisonpage.gif" , :alt=>"View Comparison Page" ,:border=>"0"), new_loan_proposal_proposal_scenarios_path(@proposal) %></td>
										</tr>
										</table></td>
								</tr>
								</table></td>
							<td width="10" class="CorBg03"></td>
						</tr>
						<tr>
							<td><img src="/images/cor03.gif" alt="" border="0" /></td>
							<td class="CorBg04"></td>
							<td><img src="/images/cor04.gif" alt="" border="0" /></td>
						</tr>
						</table>
