<table width="584" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><img src="/images/cor01.gif" alt="" border="0" /></td>
							<td class="CorBg01"></td>
							<td><img src="/images/cor02.gif" alt="" border="0" /></td>
						</tr>
						<tr>
							<td width="10" class="CorBg02"></td>
							<td width="564" valign="top">
                <div class="Heading01Divs"><%= render_box_arrow(__FILE__, "Loan Summary - Scenario 1") %>
                  <div style="float:right;">
                    <%= link_to image_tag("/images/btn_returntoloanoptions.gif" , :alt=>"View Loan Option2" ,:border=>"0"), edit_new_loan_proposal_proposal_scenario_path(@proposal, @proposal_scenario) %>
                </div>
              </div><br /><br /><br /><br />
								
								<table width="564" border="0" cellspacing="0" cellpadding="0" class="Text01">
								<tr>
									<td valign="top"><div><div class="Heading02">Loan Information - Rufus Michaels</div></div></td>
								</tr>
								<tr>
									<td valign="top"><span class="TextLarge02">15 East Putnam Ave, Greenwich , CT 06830</span></td>
								</tr>
								<tr>
									<td height="5"></td>
								</tr>
								<tr>
									<td valign="top">
										<table width="564" border="0" cellspacing="0" cellpadding="2">
										<tr>
											<td height="10"></td>
										</tr>
										<tr>
											<td valign="middle">Purchase Price</td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>$0,000,000</span></td>
											<td width="10"></td>
											<td valign="middle" align="center"></td>
											<td width="10"></td>
											<td valign="middle" align="center"></td>
										</tr>
										<tr>
											<td valign="middle">Down Payment</td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>($0,000,000)</span></td>
											<td width="10"></td>
											<td valign="middle" align="center"></td>
											<td width="10"></td>
											<td valign="middle" align="center"></td>
										</tr>										
										<tr>
											<td valign="middle">Funding Required</td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>$000,000</span></td>
											<td width="10"></td>
											<td valign="middle" align="center">Loan To Value<br /><span>80%</span></td>
											<td width="10"></td>
											<td valign="middle" align="center"></td>
										</tr>
										<tr>
											<td height="10"></td>
										</tr>
										<tr>
											<td valign="bottom"></td>
											<td width="10"></td>
											<td valign="bottom" align="center">Primary Loan</td>
											<td width="10"></td>
											<td valign="bottom" align="center">Secondary Loan</td>
											<td width="10"></td>
											<td valign="bottom" align="center">Total</td>
										</tr>
										<tr>
											<td valign="middle">Funding Amount</td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>$000,000</span></td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>$000,000</span></td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>$000,000</span></td>
										</tr>
										<tr>
											<td valign="middle">Loan Program</td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>Year</span></td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>ARM</span></td>
											<td width="10"></td>
											<td valign="middle" align="center"><span></span></td>
										</tr>
										<tr>
											<td valign="middle">Interest Rate</td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>0.000%</span></td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>0.000%</span></td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>0.000%</span></td>
										</tr>
										<tr>
											<td valign="middle">APR (est.)</td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>0.000%</span></td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>0.000%</span></td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>0.000%</span></td>
										</tr>
										<tr>
											<td valign="middle">Term</td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>0.000%</span></td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>0.000%</span></td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>0.000%</span></td>
										</tr>
										<tr>
											<td valign="middle">Rate Type</td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>Adjustable</span></td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>Adjustable</span></td>
											<td width="10"></td>
											<td valign="middle" align="center"><span></span></td>
										</tr>
										<tr>
											<td valign="middle">First Rate Adjustment</td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>Sept1, 2013</span></td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>Sept1, 2013</span></td>
											<td width="10"></td>
											<td valign="middle" align="center"><span></span></td>
										</tr>
										<tr>
											<td valign="middle">Interest Only Date</td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>Sept1, 2013</span></td>
											<td width="10"></td>
											<td valign="middle" align="center">N / A</td>
											<td width="10"></td>
											<td valign="middle" align="center"></td>
										</tr>
										</table></td>
								</tr>
								</table></td>
							<td width="10" class="CorBg03"></td>
						</tr>
						<tr>
							<td><img src="/images/cor03.gif" alt="" border="0" /></td>
							<td class="CorBg04"></td>
							<td><img src="/images/cor04.gif" alt="" border="0" /></td>
						</tr>
						</table>
