<table width="320" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><img src="/images/cor01.gif" alt="" border="0" /></td>
							<td class="CorBg01"></td>
							<td><img src="/images/cor02.gif" alt="" border="0" /></td>
						</tr>
						<tr>
							<td width="10" class="CorBg02"></td>
							<td valign="top" width="300">
								<div class="Heading01Divs05">
								<%= render_box_arrow(__FILE__, "Payment Forecast") %>
								
								</div><br /><br /><br /><br />
								
								<table width="300" border="0" cellspacing="0" cellpadding="0" class="Text02">
								<tr>
									<td valign="top"><span class="TextLarge02">15 East Putnam Ave, Greenwich , CT 06830</span></td>
								</tr>
								<tr>
									<td height="20"></td>
								</tr>
								<tr>
									<%= render :partial => 'rate_dropdown' %>
								</tr>
								<tr>
									<td height="20"></td>
								</tr>
								<tr>
									<%= render :partial => 'primary_loan_chart' %>
								</tr>
								<tr>
									<td height="20"></td>
								</tr>
								<tr>
								<%= render :partial => 'secondary_loan_chart' %>
								</tr>
								</table></td>
							<td width="10" class="CorBg03"></td>
						</tr>
						<tr>
							<td><img src="/images/cor03.gif" alt="" border="0" /></td>
							<td class="CorBg04"></td>
							<td><img src="/images/cor04.gif" alt="" border="0" /></td>
						</tr>
						</table>