<td valign="top">
										<select class="Combo01">
											<option>Show Constant Rates</option>
											<option>Show Forecasted Adjustable Rates</option>
										</select>
										</td>