<p>
  This is a simple search function that allows you to enter a search term and it will return the Borrower name, Co-Borrower name, Street address or City. You do not have to enter the complete name; partial names will still result in a list of possible matches. When the Household results are returned, click on the Name or Address to see the complete details for that Household.  To narrow your search, click on the “Advanced Search” tab which allow you to enter specific parameters to search for.
</p>