<p>
  This is a list of the latest news headlines that relate to the clients within your loan portfolio.  It includes general business, government and local news relating to your clients’ communities, as well as specific client related news items such as employer news, birth announcements, and real estate news. 
</p>