<p>
  This alerts you to the most important client related events that are coming up soon.  These events are considered excellent opportunities to contact a client for new business or ongoing client management.
</p>