<table width="914" width="894" border="0" cellspacing="0" cellpadding="0">
				<form name="form1" id="form1">
				<tr>
				  <td align="center" valign="top" with="584">
				  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="79%" align="left" valign="top">
					  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="left">
						  <table width="670" border="0" cellspacing="0" cellpadding="0">
                              
                              <tr>
                                <td height="10" colspan="3" class="HeadingInnerpages"></td>
                              </tr>
                              <tr>
                                <td width="118" height="22" class="TabInner">Refine Search</td>
                                <td width="118">&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td height="60" align="left" class="BasicSearchBg" style="padding-left:20px;">
						  	<table width="880" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="308" align="left" valign="top">
							  	  <table width="450" border="0" cellspacing="5" cellpadding="0">
								  <tr>
                                    <td width="200">&nbsp;</td>
                                    <td align="left" >
										<table border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="72" align="center" class="Heading02TextSmall">Minimum</td>
											<td width="17">&nbsp;</td>
											<td width="60" align="center" class="Heading02TextSmall">Maximum</td>
										</tr>
										</table></td>
                                  </tr>	
                                  <tr>
                                    <td align="right"><span class="Heading02TextSmall">Number  of Transactions</span></td>
                                    <td align="left">
										<input name="textfield2" type="text" class="SearchInput02" id="textfield2" /> &nbsp;to<input name="textfield3" type="text" class="SearchInput02" id="textfield3" /></td>
                                  </tr>
                                  <tr>
                                    <td align="right" class="Heading02TextSmall">Loan Size</td>
                                    <td align="left">
										<input name="textfield2" type="text" class="SearchInput02" id="textfield2" /> &nbsp;to<input name="textfield3" type="text" class="SearchInput02" id="textfield3" /></td>
                                  </tr>
								  <tr>
                                    <td align="right" class="Heading02TextSmall">Date Range<br />(mm/dd/yyyy)</td>
                                    <td align="left">
										<input name="textfield2" type="text" class="SearchInput02" id="textfield2" /> &nbsp;to<input name="textfield3" type="text" class="SearchInput02" id="textfield3" /></td>
                                  </tr>
                                  <tr>
                                    <td align="right">&nbsp;</td>
                                    <td align="left">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td colspan="2" align="left" class="SubHeadingBlack">Zip Code Radius</td>
                                    </tr>
                                  <tr>
                                    <td align="right"><span class="Heading02TextSmall">Zip Code</span></td>
                                    <td colspan="2" align="left"><input name="textfield2" type="text" class="SearchInput02" id="textfield2" /></td>
                                  </tr>
                                  <tr>
                                    <td align="right"><span class="Heading02TextSmall">Radius</span></td>
                                    <td align="left"><input name="textfield" type="text" class="SearchInput02" id="textfield" /></td>
                                  </tr>
                                  <tr>
                                    <td align="right">&nbsp;</td>
                                    <td align="left">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td align="right">
										<span class="Heading02TextSmall"><nobr>Save Criteria</nobr></span></td>
                                    <td align="left">
										<table border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td valign="middle">
												<select name="select2" class="SearchInput01c" id="select2">
                                      				<option value="1">enter a new name or select from list</option>
                                        			<option value="2">Primary01</option>
                                        			<option value="3">Primary02</option>
                                        		</select></td>
											<td with="10">&nbsp;</td>
											<td valign="middle">
												<a href="#" target="_self"><img src="/images/btn02_save.gif" alt="" border="0" /></a></td>
										</tr>
										</table></td>
                                  </tr>
                                  <tr>
                                    <td align="right">&nbsp;</td>
                                    <td align="left">&nbsp;</td>
                                  </tr>
                              		</table></td>
                              <td width="313" align="left" valign="top">
							  	<table width="200" border="0" cellspacing="5" cellpadding="0">
                                  <tr>
                                    <td colspan="2" align="left" class="SubHeadingBlack">Include in search</td>
                                    </tr>
                                  <tr>
                                    <td width="25" align="left"><input type="checkbox" name="checkbox2" id="checkbox2" /></td>
                                    <td width="175" align="left" class="Heading02TextSmall">Real Estate Agents</td>
                                  </tr>
                                  <tr>
                                    <td align="left" valign="top"><input type="checkbox" name="checkbox3" id="checkbox3" /></td>
                                     <td align="left" valign="top" class="Heading02TextSmall">Insurance Agents</td>
                                  </tr>
                                  <tr>
                                    <td align="left" valign="top"><input type="checkbox" name="checkbox4" id="checkbox4" /></td>
                                     <td align="left" valign="top" class="Heading02TextSmall">Attorneys</td>
                                  </tr>
                                  <tr>
                                    <td align="left"  valign="top" class="Heading02TextSmall"><input type="checkbox" name="checkbox" id="checkbox" /></td>
                                    <td align="left" valign="top" class="Heading02TextSmall">Financial Planners</td>
                                  </tr>
                                  <tr>
                                    <td align="left" valign="top"><input type="checkbox" name="checkbox5" id="checkbox5" /></td>
                                     <td align="left" valign="top" class="Heading02TextSmall">Accountants</td>
                                  </tr>
                                  <tr>
                                    <td align="left" valign="top"><input type="checkbox" name="checkbox6" id="checkbox6" /></td>
                                     <td align="left" valign="top" class="Heading02TextSmall">Title Agent</td>
                                  </tr>
                                  <tr>
                                    <td align="left" valign="top"><input type="checkbox" name="checkbox62" id="checkbox62" /></td>
                                    <td align="left" valign="top" class="Heading02TextSmall">Appraisers</td>
                                  </tr>
                              </table></td>
                              <td width="75" align="right" valign="bottom" style="padding-bottom:10px;"><a href="#"><img src="/images/btn02_previewrecords.gif" alt="" border="0" /></a></td>
                            </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td height="10"></td>
                        </tr>
                        <tr>
                          <td height="60" align="center">
						  
							<%= render :partial => "search_results" %>
						  
						  </td>
                        </tr>
                      </table></td>
                    </tr>
                  </table></td>
				</tr>
				<tr>
				  <td height="10" align="center" valign="top"></td>
				  </tr>
				<tr>
				  <td height="10" align="right" valign="top" style="padding-right:50px;">&nbsp;</td>
				  </tr>
				<tr>
				  <td align="center" valign="top" with="584"></td>
				  </tr>
                  </form>
				</table>