/* CSS Document */

body{
	margin:0px;
}
#Container{
	margin:0px auto;
	width:962px;
}
#HeaderContainer{
	width:962px;
	background-image:url(../images/top_logobg.gif);
	background-repeat:repeat-x;
}
#HeaderLinkLogin{
	float:right;
	width:280px;
	height:65px;
	margin-top:28px;
	background-image:url(../images/top_loginbg.gif);
	background-repeat:no-repeat;
}
.HeaderLink{
	padding-left:14px;
}
#HeaderLoginPad{
	width:252px;
	height:18px;
	margin-top:10px;
	margin-left:14px;
	background-image:url(../images/top_logininputbg.gif);
	background-repeat:no-repeat;
}
.HeaderInputDiv{
	width:176px;
	height:18px;
	float:left;
}
.HeaderInputBtnDiv{
	width:76px;
	height:18px;
	float:left;
}
.HeaderInput{
	width:162px;
	height:13px;
	border:1px solid #000000;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	margin-top:1px;
	margin-left:5px;
	border:0px solid #000000;
}
#TopLinkContainer{
	background-image:url(../images/centerbg.gif);
	background-repeat:repeat-y;
}
#TopLink{
	margin:0px auto;
	width:934px;
	/*height:25px;*/
	text-align:center;
	background-image:url(../images/toplinkbg.gif);
	background-repeat:repeat-x;
	clear:both;
}
#BodyContainer{
	margin:0px auto;
	width:962px;
	background-image:url(../images/centerbg.gif);
	background-repeat:repeat-y;	
}
#Center{
	margin:0px auto;
	width:934px;
}
#HeaderPics{
	width:934px;
}
#CenterBoxes{
	width:934px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4A452A;
	float:left;
}
.CentBox01{
	width:271px;
	padding:0px 0px 0px 30px;
	float:left;
}
.CentBox02{
	width:271px;
	padding:0px 0px 0px 30px;
	float:left;
}
.CentBox03{
	width:271px;
	padding:0px 0px 0px 30px;
	float:left;
}
#CenterBoxesBtns{
	width:934px;
	float:left;
}
.CentBoxBtn{
	width:271px;
	padding:18px 0px 0px 30px;
	float:left;
}
#BottomCompLine{
	width:934px;
	float:left;
}
#BottomCompLineText{	
	padding:17px 29px 7px 29px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4A452A;
	font-weight:bold;
	background-image:url(../images/bottomcompline.gif);
	background-repeat:repeat-x;
}
#BottomCompLineText a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4A452A;
	font-weight:bold;
	text-decoration:none;
}
#BottomCompLineText a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#F1B200;
	font-weight:bold;
	text-decoration:none;
}

#BottomCompLink{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#4A452A;
	text-decoration:none;
	line-height:16px;
	background-color:#DDD9C3;
	padding:20px 30px 20px 213px;	
	float:left;
	width:691px;
}
#BottomCompLink a{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#4A452A;
	text-decoration:none;
}
#BottomCompLink a:hover{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-decoration:none;
}
.BottomCompBox{
	width:133px;
	float:left;
	padding-right:20px;
}
#Footer{
	width:934px;
}
#FooterDivs{
	background-image:url(../images/footerline.gif);
	background-repeat:repeat-x;
	padding:42px 30px 30px 30px;
}
#FooterLeft{
	width:640px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#948A54;
	float:left;
	text-align:left;
}
#FooterLeft a{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#948A54;
	text-decoration:none;
}
#FooterLeft a:hover{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#4A452A;
	text-decoration:none;
}
#FooterRight{
	width:230px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#C9C4A9;
	float:right;
	text-align:right;
}
#FooterRight a{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#C9C4A9;
	text-decoration:none;
}
#FooterRight a:hover{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#948A54;
	text-decoration:none;
}
.FooterBorder{
	width:962px;
}




#PgHeading{
	text-align:left;
	background-image:url(../images/pgheadingbg.jpg);
	background-repeat:no-repeat;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#FFFFFF;
	padding:9px 30px 11px 30px;
}




#PgHeadingWithLink{
	width:934px;
	height:49px;
	background-image:url(../images/pgheadingbg.jpg);
	background-repeat:no-repeat;
	float:left;
}
#PgHeadingText{
	text-align:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#FFFFFF;
	padding:9px 20px 11px 30px;
	float:left;
}
#PgHeadingTextLink{
	text-align:right;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	padding:21px 30px 11px 0px;
}
#PgHeadingTextLink span{
	text-align:right;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	font-weight:bold;
}
#PgHeadingTextLink a{
	text-align:right;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	text-decoration:none;
	padding-left:18px;
}
#PgHeadingTextLink a:hover{
	text-align:right;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFCC00;
	text-decoration:none;
	padding-left:18px;
}
#PgHeadingTextLink .Sel{
	text-align:right;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFCC00;
	text-decoration:none;
	padding-left:18px;
}

#PgCenterContainer{
	width:934px;
	background-image:url(../images/pgsepline.gif);
	background-repeat:repeat-y;
	float:left;
}
#PgLeftContainer{
	width:316px;
	float:left;
	padding-top:20px;
	padding-left:30px;	
	padding-bottom:20px;
}
.PgLeftLink{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948B54;
	text-decoration:none;
}
.PgLeftLink a{
	width:295px;
	height:34px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948B54;	
	text-decoration:none;
	display:block;
	padding:17px 10px 0px 9px;
}
.PgLeftLink a:hover{
	width:295px;
	height:34px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948B54;	
	text-decoration:none;
	background-image:url(../images/pgleftlinkbg.gif);
	background-repeat:repeat-x;
	display:block;
	padding:17px 10px 0px 9px;
}
.PgLeftLink span{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#4A452A;
	text-decoration:none;
	font-weight:bold;
}
.PgLeftLinkSel{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948B54;
	text-decoration:none;
}
.PgLeftLinkSel a{
	width:295px;
	height:34px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948B54;	
	text-decoration:none;
	background-image:url(../images/pgleftlinkbg.gif);
	background-repeat:repeat-x;
	display:block;
	padding:17px 10px 0px 9px;
}
.PgLeftLinkSel a:hover{
	width:295px;
	height:34px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948B54;	
	text-decoration:none;
	background-image:url(../images/pgleftlinkbg.gif);
	background-repeat:repeat-x;
	display:block;
	padding:17px 10px 0px 9px;
}
.PgLeftLinkSel span{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#4A452A;
	text-decoration:none;
	font-weight:bold;
}
#PgRightContainer{
	width:538px;
	float:left;
	padding:15px 30px 20px 20px;
}
.PgHeading02{
	text-align:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#000000;
	padding-bottom:7px;
}
.PgHeading02 span{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#948B54;
	line-height:21px;
}
.PgHeading03{
	text-align:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:19px;
	color:#000000;
	padding-bottom:7px;
}
.PgHeading03 span{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#948B54;
	line-height:21px;
}
#PgRightText{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4A452A;
	text-align:left;
	line-height:17px;
	padding-top:20px;
}
#PgRightText a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#F1B200;
	text-decoration:underline;
}
#PgRightText a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#F1B200;
	text-decoration:none;
}
.PgBtnLeft{
	padding-top:20px;
	float:left;
}
.PgBtnRight{
	padding-top:20px;
	float:right;
}



#PgCenterContainer02{
	width:934px;
	background-image:url(../images/pgsepline02.gif);
	background-repeat:repeat-y;
	float:left;
}
#PgLeftContainer02{
	width:418px;
	float:left;
	padding:20px 20px 20px 30px;	
}
.PgLeftVideoTextContainer{
	width:416px;
	margin-bottom:30px;	
	float:left;
}
.PgLeftVideo{
	width:200px;
	float:left;
	margin-right:10px;
}
.PgLeftVideoText{
	width:205px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#948A54;
	line-height:17px;
}
.PgLeftVideoText span{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4A452A;
	font-weight:bold;
}
.PgLeftVideoText a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#F1B200;
	text-decoration:underline;
}
.PgLeftVideoText a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#F1B200;
	text-decoration:none;
}


#PgRightContainer02{
	width:416px;
	float:left;
	padding:20px 30px 20px 20px;
}
#PgRightText02{
	float:left;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	line-height:17px;
}
#PgRightText02 span{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#4A452A;
	font-weight:bold;
}
#PgRightText02 a{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:underline;
}
#PgRightText02 a:hover{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:none;
}
.SepHorz{
	background-image:url(../images/pgsephorz.gif);
	background-repeat:repeat-x;
	height:42px;
}




#PgCenterContainer03{
	width:934px;
}
#PgCenterContainer03Top{
	width:934px;
	background-image:url(../images/pgsepline03.gif);
	background-repeat:repeat-y;
	float:left;
}
#PgCenterContainer03Top a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#F1B200;
	text-decoration:underline;
}
#PgCenterContainer03Top a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#F1B200;
	text-decoration:none;
}
#PgLeftContainer03{
	width:548px;
	float:left;
	padding:20px 20px 20px 30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4A452A;
	line-height:17px;	
}
#PgRightContainer03{
	width:284px;
	float:left;
	padding:20px 20px 30px 20px;	
}

#PgLeftContainer04{
	width:418px;
	float:left;
	padding:20px 20px 20px 30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4A452A;	
}
#PgRightContainer04{
	width:416px;
	float:left;
	padding:20px 30px 20px 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4A452A;	
}
.PgCenterBoxesBtns02{
	width:934px;
	float:left;
}
.PgCentBoxBtn01{
	width:418px;
	padding:0px 20px 20px 30px;
	float:left;
}
.PgCentBoxBtn02{
	width:416px;
	padding:0px 30px 20px 20px;
	float:left;
}
#PgLeftContainer05{
	width:418px;
	float:left;
	padding:20px 20px 20px 30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4A452A;
}
#PgRightContainer05{
	width:416px;
	float:left;
	padding:20px 30px 20px 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4A452A;	
}

#PgCenterContainer04{
	width:934px;
}
#PgCenterText{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4A452A;
	float:left;
	padding:20px 20px 20px 20px;
}
#PgCenterText a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#F1B200;
	text-decoration:underline;
}
#PgCenterText a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#F1B200;
	text-decoration:none;
}
#PgCenterThreeBoxes{
	width:894px;
	float:left;
	margin-top:20px;	
	background-image:url(../images/pgsepline04.gif);
	background-repeat:repeat-y;
}
#PgCenterThree01{
	width:295px;
	float:left;
	padding-right:11px;
}
#PgCenterThree01 a{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:underline;
}
#PgCenterThree01 a:hover{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:none;
}
#PgCenterThree02{
	width:295px;
	float:left;
	padding-right:11px;
}
#PgCenterThree02 a{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:underline;
}
#PgCenterThree02 a:hover{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:none;
}
#PgCenterThree03{
	width:282px;
	float:left;
}
#PgCenterThree03 a{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:underline;
}
#PgCenterThree03 a:hover{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:none;
}
.PgCenterThreeText{
	width:49px;
	text-align:right;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	line-height:17px;
	padding:10px 0px 0px 0px;
	margin-right:10px;
	float:left;
}
.PgCenterThreeTextLink{
	width:223px;
	text-align:left;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	line-height:17px;
	padding:10px 0px 0px 0px;
	float:left;
}
#PgCenterText02{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4A452A;
	float:left;
	padding:20px 30px 20px 30px;
}

#PgFaqsContainer{
	width:934px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#948A54;
	line-height:17px;
}
#PgFaqsLink{
	text-align:left;
	padding:20px 30px 20px 30px;
}
#PgFaqsLink ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
#PgFaqsLink li{
	/*margin-left:14px;*/
	/*display:inline;*/
}
#PgFaqsLink a{
	background-image:url(../images/pgfaqs_bullet01.gif);
	background-repeat:no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#F1B200;
	text-decoration:underline;
	padding-left:14px;
	line-height:29px;
}
#PgFaqsLink a:hover{
	background-image:url(../images/pgfaqs_bullet01.gif);
	background-repeat:no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#F1B200;
	text-decoration:none;
	padding-left:14px;
	line-height:29px;
}
#PgFaqsText{
	text-align:left;
	padding:0px 30px 20px 30px;
	/*margin-top:-4px;*/
}
#PgCenterContainer05{
	width:934px;
}
#PgCenterTable{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	float:left;
	line-height:17px;
	padding:20px 30px 20px 30px;
}
#PgCenterTableLink01{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-decoration:none;
}
#PgCenterTableLink01 a{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#4A452A;
	font-weight:bold;
	text-decoration:none;
	background-image:url(../images/pgforum_bullet01.gif);
	background-repeat:no-repeat;
	padding-top:0px;
	padding-right:19px;
	padding-left:14px;	
}
#PgCenterTableLink01 a:hover{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	font-weight:bold;
	text-decoration:none;
	background-image:url(../images/pgforum_bullet01.gif);
	background-repeat:no-repeat;
	padding-top:0px;
	padding-right:19px;
	padding-left:14px;
}
.PgCenterTableHeading01{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	font-weight:bold;
	padding:6px 10px 8px 10px;
}
.PgCenterTableHeadingSub01{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#4A452A;
	font-weight:bold;
}
.PgCenterTableLink02{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	font-weight:bold;
	text-decoration:none;
	background-image:url(../images/pgforum_bullet01.gif);
	background-repeat:no-repeat;
	padding-top:0px;
	padding-right:19px;
	padding-left:14px;	
}
.PgCenterTableLink02:hover{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	font-weight:bold;
	text-decoration:none;
	background-image:url(../images/pgforum_bullet01.gif);
	background-repeat:no-repeat;
	padding-top:0px;
	padding-right:19px;
	padding-left:14px;
}
.PgCenterTableTextPad{
	padding-left:14px;
}
#PgCenterTableLink03{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:none;
}
#PgCenterTableLink03 a{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:underline;
}
#PgCenterTableLink03 a:hover{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:none;
}




#PgCenterContainer06{
	width:934px;
}
#PgCenterThreeBoxes02{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4A452A;
	float:left;
	line-height:17px;
	padding:20px 30px 20px 30px;
}
.PgCenterThreeText02{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4A452A;
	width:874px;
}
.PgCenterThreeBg{
	background-image:url(../images/pgsepline05.gif);
	background-repeat:repeat-y;
	margin-top:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#948A54;
	float:left;
	width:874px;
}
.PgCenterThreeBg02{
	background-image:url(../images/pgsepline05a.gif);
	background-repeat:repeat-y;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#948A54;
	float:left;
	width:874px;
}
.PgCenterThreeA01{
	width:250px;
	float:left;
	margin-right:32px;
}
.PgCenterThreeA02{
	width:250px;
	float:left;
	margin-right:32px;
	margin-left:30px;
}
.PgCenterThreeA02 span{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
}
.PgCenterThreeA03{
	width:250px;
	float:left;
	margin-left:30px;
}
.PgCenterThreeBtn01{
	width:250px;
	margin-right:32px;
	float:left;
}
.PgCenterThreeBtn02{
	width:250px;
	margin-right:32px;
	margin-left:30px;
	float:left;
}
.PgCenterThreeBtn03{
	width:250px;
	margin-left:30px;
	float:left;
}
.SepHorz02{
	background-image:url(../images/pgsephorz02.gif);
	background-repeat:repeat-x;
	height:62px;
}
.Input01{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	width:250px;
	border:1px solid #DDD9C3;
	padding:4px 5px 3px 5px;
}




#PgCenterContainer07{
	width:934px;
}
.PgCenterContainer07Left{
	width:418px;
	float:left;
	padding:20px 20px 20px 30px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	line-height:17px;
}
.PgCenterContainer07Left span{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4A452A;
	font-weight:bold;
}
.PgCenterContainer07Left a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:underline;
}
.PgCenterContainer07Left a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:none;
}
.PgCenterContainer07Right{
	width:416px;
	float:left;
	padding:20px 30px 20px 20px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	line-height:17px;	
}
.PgCenterContainer07Right span{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#948A54;
}

#PgCenterContainer08{
	width:934px;
}
#PgCenterContainer08Simple{
	width:418px;
	float:left;
	padding:20px 30px 20px 30px;	
}
.PgCenterContainer08PicText{
	width:562px;
	margin-bottom:30px;	
	float:left;
}
.PgCenterContainer08Pic{
	width:110px;
	float:left;
	margin-right:10px;
}
.PgCenterContainer08Text{
	width:442px;
	float:left;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	line-height:17px;
}
.PgCenterContainer08Text span{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4A452A;
	font-weight:bold;
}
.PgCenterContainer08Text a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:underline;
}
.PgCenterContainer08Text a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:none;
}




#PgCenterContainer09{
	width:934px;
}
#PgCenterContainer09Simple{
	width:874px;
	float:left;
	padding:20px 30px 20px 30px;	
}
#PgCenterContainer09Simple span{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
}
#PgCenterContainer09Simple a{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:underline;
}
#PgCenterContainer09Simple a:hover{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:none;
}
.PgCenterContainer09Left{
	width:416px;
	margin-bottom:30px;	
	float:left;
	margin-right:42px;
	margin-bottom:20px;
}
.PgCenterContainer09LeftHeading{
	width:67px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4A452A;
	font-weight:bold;
	margin-right:10px;
	float:left;
}
.PgCenterContainer09LeftText{
	width:339px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	line-height:17px;
	float:left;
}
.PgCenterContainer09LeftText a{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	text-decoration:underline;
}
.PgCenterContainer09LeftText a:hover{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	text-decoration:underline;
}
.PgCenterContainer09Right{
	width:416px;
	margin-bottom:30px;	
	float:left;
}
.PgCenterContainer09RightHeading{
	width:67px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4A452A;
	font-weight:bold;
	margin-right:10px;
	float:left;
}
.PgCenterContainer09RightText{
	width:339px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	line-height:17px;
	float:left;
}
.PgCenterContainer09RightText a{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	text-decoration:underline;
}
.PgCenterContainer09RightText a:hover{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	text-decoration:underline;
}




#PgCenterContainer10{
	width:934px;
}
.PgCenterContainer10Left{
	width:418px;
	float:left;
	padding:20px 20px 20px 30px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	line-height:17px;
}
.PgCenterContainer10Left span{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4A452A;
	font-weight:bold;
}
.PgCenterContainer10Left a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:underline;
}
.PgCenterContainer10Left a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:none;
}
.Input10{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	width:200px;
	border:1px solid #DDD9C3;
	padding:4px 5px 3px 5px;
}
.Textarea10{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	width:200px;
	height:114px;
	border:1px solid #DDD9C3;
	padding:4px 5px 3px 5px;
}
.PgCenterContainer10Right{
	width:416px;
	float:left;
	padding:20px 30px 20px 20px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	line-height:17px;
}
.PgCenterContainer10Right span{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#4A452A;
	font-weight:bold;
}
.PgCenterContainer10Right a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:underline;
}
.PgCenterContainer10Right a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:none;
}



#PgCenterContainer11{
	width:934px;
	background-image:url(../images/pgsepline06.gif);
	background-repeat:repeat-y;
}
.PgCenterContainer11Left{
	width:418px;
	float:left;
	padding:20px 20px 20px 30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#948A54;
	line-height:17px;
}
.PgCenterContainer11Left span{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
}
.PgCenterContainer11Left span a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:underline;
}
.PgCenterContainer11Left span a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:none;
}
.PgCenterContainer11LeftBullet01{
	width:15px;
	float:left;
	margin:0px;
	padding:0px;
}
.PgCenterContainer11LeftText01{
	width:401px;
	float:left;
	color:#4A452A;
	margin:0px;
	padding:0px;
}
.PgCenterContainer11LeftText02{
	width:401px;
	float:left;
	margin:0px;
	padding:0px;
}
.PgCenterContainer11Left a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#F1B200;
	text-decoration:underline;
}
.PgCenterContainer11Left a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#F1B200;
	text-decoration:none;
}
.Input11{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	width:200px;
	border:1px solid #DDD9C3;
	padding:4px 5px 3px 5px;
}
.Input11a{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	width:120px;
	border:1px solid #DDD9C3;
	padding:4px 5px 3px 5px;
}
.PgCenterContainer11Right{
	width:416px;
	float:left;
	padding:20px 30px 20px 20px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	line-height:17px;	
}
.PgCenterContainer11Right span{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#4A452A;
}
.PgCenterContainer11Right a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:underline;
}
.PgCenterContainer11Right a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F1B200;
	text-decoration:none;
}




#PgCenterContainer11a{
	width:934px;
}
#PgCenterContainer11aSimple{
	width:874px;
	float:left;
	padding:20px 30px 20px 30px;
}
.PgCenterContainer11aText{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
}
.Input11b{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#948A54;
	width:200px;
	border:1px solid #DDD9C3;
	padding:4px 5px 3px 5px;
}