<p>
  This lists nearby homes for sale that may be used as comparables when discussing the current value of the property. You can click on any listing to get further details regarding the particular property. 
</p>