<p>
  Use this section to keep track of any dates of contact you have had with the Borrower, or record anecdotes that you would like to remember about this Borrower or their family, their employer, or their family.  
</p>