<h1>Welcome to Mortgage Science, <%= @current_user.name %>!</h1>
<p>
Here's how to get started:
<br><br>
1. Click <a href="/InstallCalyxUploader.exe"><b>here</b></a> to download and install the Calyx Uploader.
<br>
2. Run the Calyx Uploader to securely upload your Calyx data to Mortgage Science. 
You will need your Mortgage Science login email and password.
<br>
3. Once the data cleansing and householding processing to complete, you're ready to go.
<br>
</p>