<table width="720" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="10"><img src="/images/cor01.gif" alt="" border="0" /></td>
							<td width="700" class="CorBg01"></td>
							<td width="10"><img src="/images/cor02.gif" alt="" border="0" /></td>
						</tr>
						<tr>
							<td class="CorBg02"></td>
							<td align="left" valign="top" class="Heading02TextSmall">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>    
     <td width="100%" class="SubHeadingInnerpages"><%= render_box_arrow(__FILE__, "Top Real Estate Agents") %></td>
  </tr>
</table>

								<div style="width:700px; height:2px; border-top:1px solid #f5f4ee"></div></td>
							<td class="CorBg03"></td>
						</tr>
						<tr>
							<td class="CorBg02"></td>
							<td align="left" valign="top" class="Heading02TextSmall">
	
								<table width="700" border="0" !align="center" cellpadding="0" cellspacing="0" class="Text20">
								<tr>
									<td width="115" align="left" valign="bottom" class="SubHeadingBlack">
										<table border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td valign="bottom">Agent</td>
											<td width="2"></td>
											<td valign="bottom">
												<a href="#"><img src="/images/arrow_up.gif" alt="" border="0" /></a></td>
										</tr>
										</table></td>
									<td width="10"></td>
									<td width="115" align="left" valign="bottom" class="SubHeadingBlack">
										<table border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td valign="bottom">Firm</td>
											<td width="2"></td>
											<td valign="bottom">
											
												<a href="#"><img src="/images/arrow_down.gif" alt="" border="0" /></a></td>
										</tr>
								  </table></td>
									<td width="10"></td>
									<td width="80" align="center" valign="bottom" class="SubHeadingBlack">
										<table border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td valign="bottom" align="center">Number  of Transactions</td>
											<td width="2"></td>
											<td valign="bottom">
												
												<a href="#"><img src="/images/arrow_down.gif" alt="" border="0" /></a></td>
										</tr>
										</table></td>
									<td width="10"></td>
									<td width="100" align="center" valign="bottom" class="SubHeadingBlack">
										<table border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td valign="bottom">Dollar Size of<br />Transactions</td>
											<td width="2"></td>
											<td valign="bottom">
												
												<a href="#"><img src="/images/arrow_down.gif" alt="" border="0" /></a></td>
										</tr>
										</table></td>
									<td width="10"></td>
									<td width="130" align="center" valign="bottom">
										<table width="130" border="0" !align="center" cellpadding="0" cellspacing="0">
										<tr>
											<td valign="bottom" colspan="3" class="SubHeadingBlack" align="center" style="border-bottom:1px solid #454546;">
												Rank</td>
										</tr>
										<tr>
											<td width="50" valign="bottom" class="SubHeadingBlack" align="center">
												<table border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td valign="bottom">Overall</td>
													<td width="2"></td>
													<td valign="bottom">
														<a href="#"><img src="/images/arrow_down.gif" alt="" border="0" /></a></td>
												</tr>
												</table></td>
											<td width="10"></td>
											<td width="70" valign="bottom" class="SubHeadingBlack" align="center">
												<table border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td valign="bottom">Last 24<br />Months</td>
													<td width="2"></td>
													<td valign="bottom">
														<a href="#"><img src="/images/arrow_down.gif" alt="" border="0" /></a></td>
												</tr>
												</table></td>
										</tr>
										</table></td>
									<td width="10"></td>
									<td width="90" align="center" valign="bottom" class="SubHeadingBlack">
										<table border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td valign="bottom">RAE Index</td>
											<td width="2"></td>
											<td valign="bottom">
												
												<a href="#"><img src="/images/arrow_down.gif" alt="" border="0" /></a></td>
										</tr>
										</table></td>
								</tr>
								<tr>
									<td height="15"></td>
								</tr>
								</table> 
	
								<div style="width:auto; height:200px; overflow:auto;">
								<table width="680" border="0" !align="center" cellpadding="0" cellspacing="0" class="Text20"> 
								<tr>
									<td height="10"></td>
								</tr> 
								<tr class="Row01">
									<td width="120" align="left" valign="top" class="Align01"><strong>Abbot, James</strong></td>
									<td width="10"></td>
									<td width="120" align="left" valign="top" class="Align01"><strong>XYZ Realty</strong></td>
									<td width="10"></td>
									<td width="80" valign="top" class="Align02">89</td>
									<td width="10"></td>
									<td width="100" valign="top" class="Align02">$85,456,000</td>
									<td width="10"></td>
									<td width="50" valign="top" class="Align02">1</td>
									<td width="10"></td>
									<td width="80" valign="top" class="Align02">11</td>
									<td width="10"></td>
									<td width="70" valign="top" bgcolor="#b6d680" class="Align02"><strong>86</strong></td>
								</tr>  
								<tr class="Row02">
									<td align="left" valign="top" class="Align01"><strong> Acosta, John</strong></td>
									<td></td>
									<td align="left" valign="top" class="Align01"><strong> ACME Realty</strong></td>
									<td></td>
									<td valign="top" class="Align02">85</td>
									<td></td>
									<td valign="top" class="Align02">54,957,500</td>
									<td></td>
									<td valign="top" class="Align02">2</td>
									<td></td>
									<td valign="top" class="Align02">23</td>
									<td></td>
									<td valign="top" bgcolor="#d2de82" class="Align02"><strong>74</strong></td>
								</tr>
								<tr class="Row01">
									<td align="left" valign="top" class="Align01"><strong> Allen, Richard</strong></td>
									<td></td>
									<td align="left" valign="top" class="Align01"><strong>City Realty</strong></td>
									<td></td>
									<td valign="top" class="Align02">74</td>
									<td></td>
									<td valign="top" class="Align02">54,957,500</td>
									<td></td>
									<td valign="top" class="Align02">3</td>
									<td></td>
									<td valign="top" class="Align02">22</td>
									<td></td>
									<td valign="top" bgcolor="#dde182" class="Align02"><strong>96</strong></td>
								</tr> 
								<tr class="Row02">
									<td align="left" valign="top"><strong>Graham, Smith</strong></td>
									<td></td>
									<td align="left" valign="top" class="Align01"><strong> XYZ Realty</strong></td>
									<td></td>
									<td valign="top" class="Align02">52</td>
									<td></td>
									<td valign="top" class="Align02">54,957,500</td>
									<td></td>
									<td valign="top" class="Align02">4</td>
									<td></td>
									<td valign="top" class="Align02">18</td>
									<td></td>
									<td valign="top" bgcolor="#dde182" class="Align02"><strong>95</strong></td>
								</tr> 
								<tr class="Row01">
									<td align="left" valign="top" class="Align01"><strong> Jeff, Hardy</strong></td>
									<td></td>
									<td align="left" valign="top" class="Align01"><strong> ACME Realty</strong></td>
									<td></td>
									<td valign="top" class="Align02">53</td>
									<td></td>
									<td valign="top" class="Align02">54,957,500</td>
									<td></td>
									<td valign="top" class="Align02">5</td>
									<td></td>
									<td valign="top" class="Align02">12</td>
									<td></td>
									<td valign="top" bgcolor="#e9e583" class="Align02"><strong>88</strong></td>
								</tr> 
								<tr class="Row02">
									<td align="left" valign="top"><strong>William, Smith</strong></td>
									<td></td>
									<td align="left" valign="top" class="Align01"><strong>City Realty</strong></td>
									<td></td>
									<td valign="top" class="Align02">89</td>
									<td></td>
									<td valign="top" class="Align02">54,957,500</td>
									<td></td>
									<td valign="top" class="Align02">6</td>
									<td></td>
									<td valign="top" class="Align02">5</td>
									<td></td>
									<td valign="top" bgcolor="#95cd7e" class="Align02"><strong>77</strong></td>
								</tr> 
								<tr class="Row01">
									<td align="left" valign="top" class="Align01"><strong> David Boon</strong></td>
									<td></td>
									<td align="left" valign="top" class="Align01"><strong> XYZ Realty</strong></td>
									<td></td>
									<td valign="top" class="Align02">85</td>
									<td></td>
									<td valign="top" class="Align02">54,957,500</td>
									<td></td>
									<td valign="top" class="Align02">7</td>
									<td></td>
									<td valign="top" class="Align02">2</td>
									<td></td>
									<td valign="top" bgcolor="#e9e583" class="Align02"><strong>79</strong></td>
								</tr> 
								<tr class="Row02">
									<td align="left" valign="top"><strong>Jeff, Crow</strong></td>
									<td></td>
									<td align="left" valign="top" class="Align01"><strong> ACME Realty</strong></td>
									<td></td>
									<td valign="top" class="Align02">74</td>
									<td></td>
									<td valign="top" class="Align02">54,957,500</td>
									<td></td>
									<td valign="top" class="Align02">8</td>
									<td></td>
									<td valign="top" class="Align02">1</td>
									<td></td>
									<td valign="top" bgcolor="#dde182" class="Align02"><strong>63</strong></td>
								</tr> 
								<tr class="Row01">
									<td align="left" valign="top" class="Align01"><strong> Martin Crow</strong></td>
									<td></td>
									<td align="left" valign="top" class="Align01"><strong>City Realty</strong></td>
									<td></td>
									<td valign="top" class="Align02">52</td>
									<td></td>
									<td valign="top" class="Align02">54,957,500</td>
									<td></td>
									<td valign="top" class="Align02">9</td>
									<td></td>
									<td valign="top" class="Align02">15</td>
									<td></td>
									<td valign="top" bgcolor="#f4e884" class="Align02"><strong>73</strong></td>
								</tr> 
								<tr class="Row02">
									<td align="left" valign="top"><strong>Courtney, Walsh</strong></td>
									<td></td>
									<td align="left" valign="top" class="Align01"><strong> XYZ Realty</strong></td>
									<td></td>
									<td valign="top" class="Align02">53</td>
									<td></td>
									<td valign="top" class="Align02">54,957,500</td>
									<td></td>
									<td valign="top" class="Align02">10</td>
									<td></td>
									<td valign="top" class="Align02">14</td>
									<td></td>
									<td valign="top" bgcolor="#f4e884" class="Align02"><strong>97</strong></td>
								</tr> 
								<tr class="Row01">
									<td align="left" valign="top" class="Align01"><strong> Ian, Botham</strong></td>
									<td></td>
									<td align="left" valign="top" class="Align01"><strong> ACME Realty</strong></td>
									<td></td>
									<td valign="top" class="Align02">85</td>
									<td></td>
									<td valign="top" class="Align02">54,957,500</td>
									<td></td>
									<td valign="top" class="Align02">11</td>
									<td></td>
									<td valign="top" class="Align02">11</td>
									<td></td>
									<td valign="top" bgcolor="#d3df82" class="Align02"><strong>91</strong></td>
								</tr> 
								<tr class="Row02">
									<td align="left" valign="top"><strong>David, Gover</strong></td>
									<td></td>
									<td align="left" valign="top" class="Align01"><strong>City Realty</strong></td>
									<td></td>
									<td valign="top" class="Align02">74</td>
									<td></td>
									<td valign="top" class="Align02">54,957,500</td>
									<td></td>
									<td valign="top" class="Align02">12</td>
									<td></td>
									<td valign="top" class="Align02">10</td>
									<td></td>
									<td valign="top" bgcolor="#f4e884" class="Align02"><strong>68</strong></td>
								</tr> 
								<tr class="Row01">
									<td align="left" valign="top" class="Align01"><strong> Jazzy, Alexander</strong></td>
									<td></td>
									<td align="left" valign="top" class="Align01"><strong> ACME Realty</strong></td>
									<td></td>
									<td valign="top" class="Align02">52</td>
									<td></td>
									<td valign="top" class="Align02">54,957,500</td>
									<td></td>
									<td valign="top" class="Align02">13</td>
									<td></td>
									<td valign="top" class="Align02">9</td>
									<td></td>
									<td valign="top" bgcolor="#f4e884" class="Align02"><strong>82</strong></td>
								</tr> 
								<tr class="Row02">
									<td align="left" valign="top"><strong>Martin, Harley</strong></td>
									<td></td>
									<td align="left" valign="top" class="Align01"><strong>City Realty</strong></td>
									<td></td>
									<td valign="top" class="Align02">53</td>
									<td></td>
									<td valign="top" class="Align02">54,957,500</td>
									<td></td>
									<td valign="top" class="Align02">14</td>
									<td></td>
									<td valign="top" class="Align02">3</td>
									<td></td>
									<td valign="top" bgcolor="#f4e884" class="Align02"><strong>93</strong></td>
								</tr> 
								</table> 
								</div></td>
							<td width="10" class="CorBg03"></td>
						</tr>
						<tr>
							<td><img src="/images/cor03.gif" alt="" border="0" /></td>
							<td class="CorBg04"></td>
							<td><img src="/images/cor04.gif" alt="" border="0" /></td>
						</tr>
						<tr>
							<td height="20"></td>
						</tr>
						</table>