<table width="320" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="/images/cor01.gif" alt="" border="0" /></td>
            <td class="CorBg01"></td>
            <td><img src="/images/cor02.gif" alt="" border="0" /></td>
          </tr>
          <tr>
            <td width="10" class="CorBg02"></td>
            <td valign="top" width="300">
              <div class="Heading01Divs05">
			  <%= render_box_arrow(__FILE__, "Today's Regional Rate Offerings") %></div>			  
			  <br /><br /><br /><br />
              <%= render :partial => 'conforming_loans_chart' %>
              <%= render :partial => 'jumbo_loans_chart' %> 
              </td>
              <td width="10" class="CorBg03"></td>
            </tr>
            <tr>
              <td><img src="/images/cor03.gif" alt="" border="0" /></td>
              <td class="CorBg04"></td>
              <td><img src="/images/cor04.gif" alt="" border="0" /></td>
            </tr>
        </table>