<p>
  Use this area to search for previous campaigns using criteria such as campaign name, type or date. The results are shown chronologically, with the most recent at the top.  You may click on any column heading to sort the table in ascending or descending order. 
</p>
