<p>
  This is a list of the real estate agents within your network with whom you do the most business. The agents are listed in order by our proprietary RAE IndexTM score where the highest score represents the agents with the strongest business relationship. You may click on any column heading to sort the table in ascending or descending order.
</p>