#Fill here the Google Maps API keys for your application
#In this sample:
#For development and test, we have only one possible host (localhost:3000), so there is only a single key associated with the mode.
#In production, the app can be accessed through 2 different hosts: thepochisuperstarmegashow.com and exmaple.com. There then needs a 2-key hash. If you deployed to one host, only the API key would be needed (as in development and test).

development:
 ABQIAAAAh_s4OGDep6rhobqF8HHTkhTDoq1AlD-IT_gDN76SBmj5193k1RQdEK40XWiXItFawTSa6gHy8yFX-A
 
test:
 ABQIAAAAh_s4OGDep6rhobqF8HHTkhTDoq1AlD-IT_gDN76SBmj5193k1RQdEK40XWiXItFawTSa6gHy8yFX-A

# for mobilefoundry.net domain (code does not work for multiple domains)
production:
 ABQIAAAAh_s4OGDep6rhobqF8HHTkhTOO_pOSifMpxy4A43BvgdF3iFTGxThszlZatbKB1xGk-tuA8mY2m8k1g