<p>
  These are your new loan proposals.<br>
  Click on the name in the left column to access an existing proposal.<br>
  Or click on the "contact" tab to enter the contact information for a new loan proposal.
</p>