<table width="914"  border="0" cellspacing="0" cellpadding="0" class="Text01">
			<tr>
				<td height="5"></td>
			</tr>
			<tr>
				<td valign="top" colspan="5" align="right"><%= link_to image_tag("/images/btn_viewpage2_01.gif" , :alt=>"View Debt Consolidation Details" ,:border=>"0"),:action => "debt_consolidation_details" %></td>
			</tr>
			<tr>
				<td height="15"></td>
			</tr>
			<tr>
				<td valign="top" with="270">
					<table width="270" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td><img src="/images/cor01.gif" alt="" border="0" /></td>
						<td class="CorBg01"></td>
						<td><img src="/images/cor02.gif" alt="" border="0" /></td>
					</tr>
					<tr>
						<td width="10" class="CorBg02"></td>
						<td width="250" valign="top">
							<div class="Heading01Divs06" style="float:left;">
							<div><%= render_box_arrow(__FILE__, 'Property Information') %></div>
							</div><br /><br /><br /><br />
							
							<table width="250" border="0" cellspacing="0" cellpadding="2">
							<tr>
								<td colspan="7">
									<div class="TextLarge02">3108 Alexis Drive, Palo Alto, CA 94304-1306</div></td>
							</tr>
							<tr>
								<td height="20"></td>
							</tr>
							<tr>
								<td colspan="7">
									<div class="Heading02">Home Details</div></td>
							</tr>
							<tr>
								<td valign="middle">
									Date Purchased</td>
								<td width="10"></td>
								<td valign="middle" align="right">
									<span>Feb-95</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Puchase Price</td>
								<td></td>
								<td valign="middle" align="right">
									<span>$0,000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Assessed Value</td>
								<td></td>
								<td valign="middle" align="right">
									<span>$0,000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Living Area</td>
								<td></td>
								<td valign="middle" align="right">
									<span>0,000 Sq feet</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Lot Size</td>
								<td></td>
								<td valign="middle" align="right">
									<span>0,000 Sq feet</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Type</td>
								<td></td>
								<td valign="middle" align="right">
									<span>Single Family</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Year Built</td>
								<td></td>
								<td valign="middle" align="right">
									<span>1976</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Current Value</td>
								<td></td>
								<td valign="middle" align="right">
									<span>$0,000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Debt Outstanding</td>
								<td></td>
								<td valign="middle" align="right">
									<span>$0,000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Total Equity (est.)</td>
								<td></td>
								<td valign="middle" align="right">
									<span>$0,000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Available Equity</td>
								<td></td>
								<td valign="middle" align="right">
									<span>$0,000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Loan to Value Ratio</td>
								<td></td>
								<td valign="middle" align="right">
									<span>00%</span></td>
							</tr>
							<tr>
								<td height="20"></td>
							</tr>
							</table></td>
						<td width="10" class="CorBg03"></td>
					</tr>
					<tr>
						<td><img src="/images/cor03.gif" alt="" border="0" /></td>
						<td class="CorBg04"></td>
						<td><img src="/images/cor04.gif" alt="" border="0" /></td>
					</tr>
					<tr>
						<td height="10"></td>
					</tr>
					</table>
					
					
					<table width="270" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td><img src="/images/cor01.gif" alt="" border="0" /></td>
						<td class="CorBg01"></td>
						<td><img src="/images/cor02.gif" alt="" border="0" /></td>
					</tr>
					<tr>
						<td width="10" class="CorBg02"></td>
						<td width="250" valign="top">
							<div class="Heading01">Loan History</div><br />
							
							<table width="250" border="0" cellspacing="0" cellpadding="2" class="Text01">
							<tr>
								<td valign="bottom">
									Date</td>
								<td width="10"></td>
								<td valign="bottom" align="center">
									Loan<br />Amount</td>
								<td width="10"></td>
								<td valign="bottom" align="center">
									Loan<br />Type</td>
								<td width="10"></td>
								<td valign="bottom" align="center">
									Current<br />Rate</td>
							</tr>							
							<tr>
								<td height="10"></td>
							</tr>
							<tr>
								<td valign="bottom">
									<span class="TextColor01">Feb-95</span></td>
								<td></td>
								<td valign="bottom" align="center">
									<span>$0,000,000</span></td>
								<td></td>
								<td valign="bottom" align="center">
									<span>Fixed</span></td>
								<td></td>
								<td valign="bottom" align="center">
									<span>0.00%</span></td>
							</tr>
							<tr>
								<td valign="bottom">
									<span class="TextColor01">Dec-02</span></td>
								<td></td>
								<td valign="bottom" align="center">
									<span></span></td>
								<td></td>
								<td valign="bottom" align="center">
									<span>HELOC</span></td>
								<td></td>
								<td valign="bottom" align="center">
									<span></span></td>
							</tr>
							</table></td>
						<td width="10" class="CorBg03"></td>
					</tr>
					<tr>
						<td><img src="/images/cor03.gif" alt="" border="0" /></td>
						<td class="CorBg04"></td>
						<td><img src="/images/cor04.gif" alt="" border="0" /></td>
					</tr>
					<tr>
						<td height="10"></td>
					</tr>
					</table>
					
					
					<table width="270" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td><img src="/images/cor01.gif" alt="" border="0" /></td>
						<td class="CorBg01"></td>
						<td><img src="/images/cor02.gif" alt="" border="0" /></td>
					</tr>
					<tr>
						<td width="10" class="CorBg02"></td>
						<td width="250" valign="top">
							<div class="Heading01">Campaigns</div><br />
							
							<table width="250" border="0" cellspacing="0" cellpadding="2" class="Text01">
							<tr>
								<td valign="top">
									Date</td>
								<td width="10"></td>
								<td valign="top">
									Report</td>
							</tr>
							<tr>
								<td height="10"></td>
							</tr>
							<tr>
								<td valign="top">
									<a href="#" target="_self" class="Link01">6/30/2008</a></td>
								<td width="10"></td>
								<td valign="top">
									<span>Q2 Loan Update - 3018</span></td>
							</tr>
							<tr>
								<td valign="top">
									<a href="#" target="_self" class="Link01">6/30/2008</a></td>
								<td></td>
								<td valign="top">
									<span>Q2 Loan Update - 3018</span></td>
							</tr>
							<tr>
								<td valign="top">
									<a href="#" target="_self" class="Link01">6/30/2008</a></td>
								<td></td>
								<td valign="top">
									<span>Q2 Loan Update - 3018</span></td>
							</tr>
							<tr>
								<td valign="top">
									<a href="#" target="_self" class="Link01">6/30/2008</a></td>
								<td></td>
								<td valign="top">
									<span>Q2 Loan Update - 3018</span></td>
							</tr>
							<tr>
								<td valign="top">
									<a href="#" target="_self" class="Link01">6/30/2008</a></td>
								<td></td>
								<td valign="top">
									<span>Q2 Loan Update - 3018</span></td>
							</tr>
							</table></td>
						<td width="10" class="CorBg03"></td>
					</tr>
					<tr>
						<td><img src="/images/cor03.gif" alt="" border="0" /></td>
						<td class="CorBg04"></td>
						<td><img src="/images/cor04.gif" alt="" border="0" /></td>
					</tr>
					</table></td>
				<td width="10"></td>
				<td width="384" valign="top">
					<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td><img src="/images/cor01.gif" alt="" border="0" /></td>
						<td class="CorBg01"></td>
						<td><img src="/images/cor02.gif" alt="" border="0" /></td>
					</tr>
					<tr>
						<td width="10" class="CorBg02"></td>
						<td width="364" valign="top">
							<div class="Heading01Divs03" style="float:left;"><div><%= render_box_arrow(__FILE__, 'Borrower & Co-Borrower Information') %></div><br /><br /><br /><br />
							
							<table width="364" border="0" cellspacing="0" cellpadding="2" class="Text01">
							<tr>
								<td valign="top" colspan="3">
									<div class="TextLarge02">Anne Wilkins / Bob Wilkins<br />
									Financial Snapshot (as of 4/25/2007)</div></td>
							</tr>
							<tr>
								<td height="10"></td>
							</tr>
							<tr>
								<td valign="top">
									FICO Scores</td>
								<td width="10"></td>
								<td valign="top" align="right">
									<span>000 / 000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Base Income</td>
								<td></td>
								<td valign="top" align="right">
									<span>$ 00,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Rental Income</td>
								<td></td>
								<td valign="top" align="right">
									<span>-</span></td>
							</tr>
							<tr>
								<td valign="top">
									Other</td>
								<td></td>
								<td valign="top" align="right" style="border-bottom:1px solid #DDD9C3;">
									<span>-</span></td>
							</tr>
							<tr>
								<td valign="top">
									Monthly HH Income</td>
								<td></td>
								<td valign="top" align="right">
									<span>$ 00,000</span></td>
							</tr>
							<tr>
								<td height="20"></td>
							</tr>
							<tr>
								<td valign="top">
									Mortgage Payments</td>
								<td></td>
								<td valign="top" align="right">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Other Debt</td>
								<td></td>
								<td valign="top" align="right">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Other Expenses</td>
								<td></td>
								<td valign="top" align="right" style="border-bottom:1px solid #DDD9C3;">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Monthly HH Expenses</td>
								<td></td>
								<td valign="top" align="right">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Debt PMTs to Income</td>
								<td></td>
								<td valign="top" align="right">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td height="20"></td>
							</tr>
							<tr>
								<td valign="top">
									Liquid Assets</td>
								<td></td>
								<td valign="top" align="right">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Property</td>
								<td></td>
								<td valign="top" align="right">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Other Assets</td>
								<td></td>
								<td valign="top" align="right" style="border-bottom:1px solid #DDD9C3;">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Total Assets</td>
								<td></td>
								<td valign="top" align="right">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td height="20"></td>
							</tr>
							<tr>
								<td valign="top">
									Revolving & Installment Loans</td>
								<td></td>
								<td valign="top" align="right">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Mortgages</td>
								<td></td>
								<td valign="top" align="right" style="border-bottom:1px solid #DDD9C3;">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Total Liabilities</td>
								<td></td>
								<td valign="top" align="right" style="border-bottom:1px solid #DDD9C3;">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Net Worth</td>
								<td></td>
								<td valign="top" align="right" style="border-bottom:1px solid #DDD9C3;">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td height="20"></td>
							</tr>
							<tr>
								<td valign="top">
									Tax Rate (est)</td>
								<td></td>
								<td valign="top" align="right">
									<span>00%</span></td>
							</tr>
							<tr>
								<td height="20"></td>
							</tr>
							</table>
							
							<table width="364" border="0" cellpadding="0" cellspacing="3" class="Text01">
								<tr>
                          			<td valign="top" colspan="3">
										<div class="TextLarge02">Consumer Debt (as of 4/25/2007)</div></td>
                              	</tr>
                              	<tr>
									<td height="7"></td>
								</tr>
                                  <tr>
                                    <td align="left" >Creditor</td>
                                    <td  align="center">Balance</td>
                                    <td align="center">Payment</td>
                                  </tr>
                                  <tr>
                                    <td align="left">MBNA AMERICA BANK NA</td>
                                    <td align="center">$47,118</td>
                                    <td align="center">$612</td>
                                  </tr>
                                  <tr>
                                    <td align="left">CITI</td>
                                    <td align="center">21,771</td>
                                    <td align="center">562</td>
                                  </tr>
                                  <tr>
                                    <td align="left">MONTEREY CREDIT UNION</td>
                                    <td align="center">17,678</td>
                                    <td align="center">856</td>
                                  </tr>
                                  <tr>
                                    <td align="left">BK 1 ARIZONA</td>
                                    <td align="center">11,338</td>
                                    <td align="center">1,240</td>
                                  </tr>
                                  <tr>
                                    <td align="left">BANK OF AMERICA</td>
                                    <td align="center">9,829</td>
                                    <td align="center">352</td>
                                  </tr>
                                  <tr>
                                    <td align="left">CHASE BANK</td>
                                    <td align="center">3,299</td>
                                    <td align="center">458</td>
                                  </tr>
                                  <tr>
                                    <td align="left">CHASE NA</td>
                                    <td align="center">3,299</td>
                                    <td align="center">685</td>
                                  </tr>
                                  <tr>
                                    <td align="left">FIRST USA BANK</td>
                                    <td align="center">2,165</td>
                                    <td align="center">66</td>
                                  </tr>
                                  <tr>
                                    <td align="left">FIRST USA</td>
                                    <td align="center" style="border-bottom:1px solid #DDD9C3;">130</td>
                                    <td align="center" style="border-bottom:1px solid #DDD9C3;">69</td>
                                  </tr>
                                  <tr>
                                    <td align="left"><strong>Total</strong></td>
                                    <td align="center">$117,227</td>
                                    <td align="center">$4,900</td>
                                  </tr>
                                </table></td>
						<td width="10" class="CorBg03"></td>
					</tr>
					<tr>
						<td><img src="/images/cor03.gif" alt="" border="0" /></td>
						<td class="CorBg04"></td>
						<td><img src="/images/cor04.gif" alt="" border="0" /></td>
					</tr>
					</table></td>
				<td width="10"></td>
				<td width="240" valign="top">
					<table width="240" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td><img src="/images/cor01.gif" alt="" border="0" /></td>
						<td class="CorBg01"></td>
						<td><img src="/images/cor02.gif" alt="" border="0" /></td>
					</tr>
					<tr>
						<td width="10" class="CorBg02"></td>
						<td valign="top" width="220">
							<div class="Heading01Divs04" style="float:left;"><div>
							<%= render_box_arrow(__FILE__, 'Current Mortgage Detail') %></div></div><br /><br />							
								<br /><br />						
							<table width="220" border="0" cellspacing="0" cellpadding="2" class="Text01">
							<tr>
								<td valign="middle" colspan="3">
									<span class="TextColor01"><strong>Primary Loan -</strong></span> 30 Year Fixed</td>
							</tr>
							<tr>
								<td height="10"></td>
							</tr>
							<tr>
								<td valign="middle" align="left">
									<span class="TextColor01"><strong>MAE Index</strong></span></td>
								<td width="10"></td>
								<td valign="middle" align="center">
									<span class="TextColor01"><strong>98</strong></span></td>
							</tr>
							<tr>
								<td valign="middle">
									Loan Amount</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Est. Balance</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Current Payment</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Current Interest Rate</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Original Term</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Origination Date</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Remaining Term</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Completion Date</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Interest Due Over Life</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Interest Only Term</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Next Rate Adjustment</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Balloon PMT</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Balloon PMT Date</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td class="Dots" colspan="3">&nbsp;</td>
							</tr>
							<tr>
								<td height="20"></td>
							</tr>
							</table>
							
							<table width="220" border="0" cellspacing="0" cellpadding="2" class="Text01">
							<tr>
								<td valign="middle" colspan="3">
									<span class="TextColor01"><strong>Secondary Loan -</strong></span> HELOC</td>
							</tr>
							<tr>
								<td height="10"></td>
							</tr>
							<tr>
								<td valign="middle" align="left">
									<span class="TextColor01"><strong>MAE Index</strong></span></td>
								<td width="10"></td>
								<td valign="middle" align="center">
									<span class="TextColor01"><strong>98</strong></span></td>
							</tr>
							<tr>
								<td valign="middle">
									Loan Amount</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>unknown</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Est. Balance</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>unknown</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Current Payment</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>unknown</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Current Interest Rate</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>unknown</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Original Term</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>unknown</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Origination Date</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>unknown</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Remaining Term</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>unknown</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Completion Date</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>unknown</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Interest Due Over Life</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>unknown</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Interest Only Term</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>unknown</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Next Rate Adjustment</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>N / A</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Balloon PMT</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>N / A</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Balloon PMT Date</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>N / A</span></td>
							</tr>
							</table></td>
						<td width="10" class="CorBg03"></td>
					</tr>
					<tr>
						<td><img src="/images/cor03.gif" alt="" border="0" /></td>
						<td class="CorBg04"></td>
						<td><img src="/images/cor04.gif" alt="" border="0" /></td>
					</tr>
					</table></td>
			</tr>
			</table>
