<table width="914" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td valign="top" with="914">
						<table width="914" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><img src="/images/cor01.gif" alt="" border="0" /></td>
							<td class="CorBg01"></td>
							<td><img src="/images/cor02.gif" alt="" border="0" /></td>
						</tr>
						<tr>
							<td width="10" class="CorBg02"></td>
							<td width="894" valign="top">
								<div class="Heading01">Savings Reinvestment Opportunity</div><br />
								
								<table width="894" border="0" cellspacing="0" cellpadding="0" class="Text01">
								<tr>
									<td valign="middle">
										<table width="894" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td valign="middle" width="50%">
												<div class="TextLarge03">Anne Wilkins / Bob Wilkins</div>
												<div class="TextLarge02">3108 Alexis Drive, Palo Alto, CA 94304-1306</div></td>
											<td valign="middle" width="50%" align="right">
												<div class="BtnOval"><div class="Text"><a href="#" target="_self">98<br />MAE</a></div></div></td>
										</tr>
										<tr>
											<td colspan="2" height="20"></td>
										</tr>
										</table></td>
								</tr>
								<tr>
									<td valign="top">
										<table width="894" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td colspan="13">
												<div> &nbsp;&nbsp;<%= render_box_arrow(__FILE__, 'Monthly Payment Comparison (pre-tax)',"Heading02") %></div></td>
										</tr>
										<tr>
											<td height="10"></td>
										</tr>
										<tr>
											<td valign="top" width="544">
												<table width="544" border="0" cellspacing="0" cellpadding="2">
												<tr>
													<td valign="top"><img src="/images/oppotunities_graph03.gif" alt="" border="0" /></td>
												</tr>
												<tr>
													<td class="Dots" colspan="3">&nbsp;</td>
												</tr>
												</table></td>
											<td width="50"></td>
											<td valign="top" width="300">
												<table width="300" border="0" cellspacing="0" cellpadding="2">
												<tr>
													<td colspan="11"><strong>Select a Different Loan to Compare</strong></td>
												</tr>
												<tr>
													<td height="10"></td>
												</tr>
												<tr>
													<td colspan="11">
														<select class="Combo03">
															<option>5 / 1 ARM</option>
															<option>7 / 1 ARM</option>
															<option>15 Year Fixed</option>
															<option>20 Year Fixed</option>
															<option>30 Year Fixed</option>
														</select></td>
												</tr>
												</table></td>
										</tr>
										<tr>
											<td height="20"></td>
										</tr>
										</table>
										
										
										<table width="544" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td>
												<div> &nbsp;&nbsp;<%= render_box_arrow(__FILE__, 'Monthly Tax Benefit of Debt Consolidation',"Heading02") %></div></td>
										</tr>
										<tr>
											<td height="10"></td>
										</tr>
										<tr>
											<td valign="top" width="544">
												<table width="544" border="0" cellspacing="0" cellpadding="2">
												<tr>
													<td valign="middle" align="right"></td>
													<td></td>
													<td valign="middle" align="center" class="Row01" colspan="5">Current Debt Situation</td>													
												</tr>
												<tr>
													<td valign="bottom" align="center"></td>
													<td width="10"></td>
													<td valign="bottom" align="center">Consumer<br />Debt</td>
													<td width="10"></td>
													<td valign="bottom" align="center">Current<br />Mortgage</td>
													<td width="10"></td>
													<td valign="bottom" align="center">Total<br />Current Debt</td>
												</tr>
												<tr>
													<td valign="middle" align="right">Balance</td>
													<td></td>
													<td valign="middle" align="right"><span>$000,000</span></td>
													<td></td>
													<td valign="middle" align="right"><span>$000,000</span></td>
													<td></td>
													<td valign="middle" align="right"><span>$000,000</span></td>
												</tr>
												<tr>
													<td valign="middle" align="right">Monthly PMT to Payoff</td>
													<td></td>
													<td valign="middle" align="right"><span>0,000</span></td>
													<td></td>
													<td valign="middle" align="right"><span>0,000</span></td>
													<td></td>
													<td valign="middle" align="right"><span>0,000</span></td>
												</tr>
												<tr>
													<td valign="middle" align="right">Tax Benefit</td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;"><span>0</span></td>
													<td style="border-bottom:1px solid #DDD9C3;">&nbsp;</td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;"><span>$0,000</span></td>
													<td style="border-bottom:1px solid #DDD9C3;">&nbsp;</td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;"><span>$0,000</span></td>
												</tr>
												<tr>
													<td valign="middle" align="right">After Tax Cost</td>
													<td></td>
													<td valign="middle" align="right" class="Row02"><span>$0,000</span></td>
													<td></td>
													<td valign="middle" align="right" class="Row02"><span>$0,000</span></td>
													<td></td>
													<td valign="middle" align="right" class="Row02"><span>$0,000</span></td>
												</tr>
												</table></td>
										</tr>
										<tr>
											<td height="40"></td>
										</tr>
										</table>
										
										<table width="544" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td valign="top" width="544">
												<table width="544" border="0" cellspacing="0" cellpadding="2">
												<tr>
													<td valign="middle" align="right"></td>
													<td></td>
													<td valign="middle" align="center" class="Row01" colspan="5"><span>Alternative 1</span></td>
													<td></td>
													<td valign="middle" align="center" class="Row01"><span>Alternative 2</span></td>
												</tr>
												<tr>
													<td valign="bottom" align="center"></td>
													<td width="10"></td>
													<td valign="bottom" align="center">2nd Mortgage<br />5 Year Fixed</td>
													<td width="10"></td>
													<td valign="bottom" align="center">Current<br />Mortgage</td>
													<td width="10"></td>
													<td valign="bottom" align="center">New Debt<br />Total</td>
													<td width="10"></td>
													<td valign="bottom" align="center">New 30 Year<br />Fixed Mortgage</td>
												</tr>
												<tr>
													<td valign="middle" align="right">Balance</td>
													<td></td>
													<td valign="middle" align="right"><span>$000,000</span></td>
													<td></td>
													<td valign="middle" align="right"><span>$000,000</span></td>
													<td></td>
													<td valign="middle" align="right"><span>$000,000</span></td>
													<td></td>
													<td valign="middle" align="right"><span>$000,000</span></td>
												</tr>
												<tr>
													<td valign="middle" align="right">Monthly PMT to Payoff</td>
													<td></td>
													<td valign="middle" align="right"><span>0,000</span></td>
													<td></td>
													<td valign="middle" align="right"><span>0,000</span></td>
													<td></td>
													<td valign="middle" align="right"><span>0,000</span></td>
													<td></td>
													<td valign="middle" align="right"><span>0,000</span></td>
												</tr>
												<tr>
													<td valign="middle" align="right">Tax Benefit</td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;"><span>0</span></td>
													<td style="border-bottom:1px solid #DDD9C3;">&nbsp;</td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;"><span>$0,000</span></td>
													<td style="border-bottom:1px solid #DDD9C3;">&nbsp;</td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;"><span>$0,000</span></td>
													<td style="border-bottom:1px solid #DDD9C3;">&nbsp;</td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;"><span>$0,000</span></td>
												</tr>
												<tr>
													<td valign="middle" align="right">After Tax Cost</td>
													<td></td>
													<td valign="middle" align="right" class="Row02"><span>$0,000</span></td>
													<td></td>
													<td valign="middle" align="right" class="Row02"><span>$0,000</span></td>
													<td></td>
													<td valign="middle" align="right" class="Row02"><span>$0,000</span></td>
													<td></td>
													<td valign="middle" align="right" class="Row02"><span>$0,000</span></td>
												</tr>
												<tr>
													<td height="20"></td>
												</tr>
												<tr>
													<td valign="middle" align="right" colspan="5">Monthly Savings Over Current Debt Situation</td>
													<td></td>
													<td valign="middle" align="right" class="Row02">$0,000</td>
													<td></td>
													<td valign="middle" align="right" class="Row02">$0,000</td>
												</tr>
												</table></td>
										</tr>
										</table>
										
										<table width="894" border="0" cellspacing="0" cellpadding="2">
										<tr>
											<td height="10"></td>
										</tr>
										<tr>
											<td valign="middle" width="50%"><a href="#" target="_self"><img src="/images/btn_generatereport.gif" alt="" border="0" /></a></td>
											<td valign="middle" width="50%" align="right"><%= link_to image_tag("/images/btn_viewpage3.gif" , :alt=>"View Debt Property Information " ,:border=>"0"),:action => "debt_property_information" %></td>
										</tr>
										</table></td>
								</tr>
								</table></td>
							<td width="10" class="CorBg03"></td>
						</tr>
						<tr>
							<td><img src="/images/cor03.gif" alt="" border="0" /></td>
							<td class="CorBg04"></td>
							<td><img src="/images/cor04.gif" alt="" border="0" /></td>
						</tr>
						</table>
						
						<table width="564" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td height="10"></td>
						</tr>
						</table>
						
						</td>
				</tr>
				</table>