<table width="914"  border="0" cellspacing="0" cellpadding="0">
				<tr>
				  <td align="center" valign="top" with="584"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="79%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="left"><table width="670" border="0" cellspacing="0" cellpadding="0">
                              
                              <tr>
                                <td height="10" colspan="3" class="HeadingInnerpages"></td>
                              </tr>
                              <tr>
                                <td width="118" height="22" class="TabInner">Basic Search</td>
                                <td width="118">&nbsp;</td>
                                <td>&nbsp;</td>
                              </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td height="60" align="left" class="BasicSearchBg" style="padding-left:20px;"><table width="600" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="35">Name</td>
                              <td width="205" align="left"><input name="textfield" type="text" class="SearchInput" id="textfield" /></td>
                              <td width="364" align="left"><a href="#"><img src="/images/btn02_search.gif" alt="" border="0" /></a></td>
                            </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td height="10"></td>
                        </tr>
                        <tr>
                          <td height="60" align="center"><table width="670" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td><img src="/images/cor01.gif" alt="" border="0" /></td>
                                <td width="100%" class="CorBg01"></td>
                                <td><img src="/images/cor02.gif" alt="" border="0" /></td>
                              </tr>
                              <tr>
                                <td class="CorBg02"></td>
                                <td align="left" valign="top" class="Heading02TextSmall">
								
								<div style="border-bottom:1px solid #f5f4ee; width:660px; float:left;"><div class="SubHeadingInnerpagesNew">Debt Consolidation Opportunities</div><div style="float:right; text-align:right; padding-top:5px;"><a href="#" target="_self"><img src="/images/i.gif" alt="" border="0" /></a></div></div><br /><br />
								
								<td class="CorBg03"></td>
                              </tr>
                              <tr>
                                <td width="10" class="CorBg02"></td>
                                <td width="564" align="left" valign="top" class="Heading02TextSmall"><div class="SubHeadingInnerpages"></div>
                                   
                                  
								  <!--<div id="search_results">
								  
								 <%#= render :active_scaffold => '/opportunity/debt', :label => '' %>
								  </div>-->
								  <table width="660" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
              							<td width="633" align="left">
                                
											<table width="640" border="0" !align="center" cellpadding="0" cellspacing="0" class="Text20">
											<tr>
												<td width="80" align="center" valign="bottom" class="SubHeadingBlack">
													<table border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td valign="bottom">MAE Index</td>
														<td width="2"></td>
														<td valign="bottom">
															<a href="#"><img src="/images/arrow_up.gif" alt="" border="0" /></a></td>
													</tr>
													</table></td>
												<td width="10"></td>
												<td width="160" align="left" valign="bottom" class="SubHeadingBlack">
													<table border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td valign="bottom" style="padding-left:4px;">Name</td>
														<td width="2"></td>
														<td valign="bottom">
														
															<a href="#"><img src="/images/arrow_down.gif" alt="" border="0" /></a></td>
													</tr>
													</table></td>
												<td width="10"></td>
												<td width="80" align="center" valign="bottom" class="SubHeadingBlack">
													<table border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td valign="bottom">Address</td>
														<td width="2"></td>
														<td valign="bottom">
														
															<a href="#"><img src="/images/arrow_down.gif" alt="" border="0" /></a></td>
													</tr>
													</table></td>
												<td width="10"></td>
												<td width="80" align="center" valign="bottom" class="SubHeadingBlack">
													<table border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td valign="bottom">City</td>
														<td width="2"></td>
														<td valign="bottom">
														
															<a href="#"><img src="/images/arrow_down.gif" alt="" border="0" /></a></td>
													</tr>
													</table></td>
												<td width="10"></td>
												<td width="80" align="center" valign="bottom" class="SubHeadingBlack">
													<table border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td valign="bottom" align="center">Outstanding Debt</td>
														<td width="2"></td>
														<td valign="bottom">
														
															<a href="#"><img src="/images/arrow_down.gif" alt="" border="0" /></a></td>
													</tr>
													</table></td>
												<td width="10"></td>
												<td width="110" align="center" valign="bottom" class="SubHeadingBlack">
													<table border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td valign="bottom">Monthly Savings</td>
														<td width="2"></td>
														<td valign="bottom">
														
															<a href="#"><img src="/images/arrow_down.gif" alt="" border="0" /></a></td>
													</tr>
													</table></td>
											</tr>
											<tr>
												<td colspan="7" height="15"></td>
											</tr>
											</table>
								
								
									<div style="width:auto; /*width:680px;*/ height:300px; overflow:auto;">
									
									<table width="640" border="0" !align="center" cellpadding="0" cellspacing="0" class="Text20">
                                    <tr class="Row01">
                                      <td width="80" align="center" valign="top" class="YellowTabText"><strong>95</strong></td>
                                      <td width="10"></td>
                                      <td width="160" align="left" valign="top" class="Align01"><strong>Abbot, James</strong></td>
                                      <td width="10"></td>
                                      <td width="80" valign="top" class="Align02"><%= link_to "3108 Alex Drive",:action => "debt_consolidation_details" %></td>
                                      <td width="10"></td>
                                      <td width="80" valign="top" class="Align02">Cape Tola</td>
                                      <td width="10"></td>
                                      <td width="80" valign="top" class="Align02">$21,806</td>
                                      <td width="10"></td>
                                      <td width="110" valign="top" class="Align02">$637</td>
                                    </tr>
                                    <tr class="Row02">
                                      <td align="center" valign="top" class="YellowTabText"><strong>85</strong></td>
                                      <td></td>
                                      <td align="left" valign="top" class="Align01"><strong> Acosta, John</strong></td>
                                      <td></td>
                                      <td valign="top" class="Align02">123 Main Street</td>
                                      <td></td>
                                      <td valign="top" class="Align02">Dallas</td>
                                      <td></td>
                                      <td valign="top" class="Align02">21,806</td>
                                      <td></td>
                                      <td valign="top" class="Align02">263</td>
                                    </tr>
                                    <tr class="Row01">
                                      <td align="center" valign="top" class="YellowTabText"><strong>89</strong></td>
                                      <td></td>
                                      <td align="left" valign="top" class="Align01"><strong> Allen, Richard</strong></td>
                                      <td></td>
                                      <td valign="top" class="Align02">94 1st Avenue</td>
                                      <td></td>
                                      <td valign="top" class="Align02">Boulder</td>
                                      <td></td>
                                      <td valign="top" class="Align02">21,806</td>
                                      <td></td>
                                      <td valign="top" class="Align02">652</td>
                                    </tr>
                                    <tr class="Row02">
                                      <td align="center" valign="top" class="YellowTabText"> <strong>95</strong></td>
                                      <td></td>
                                      <td align="left" valign="top"><strong>Graham, Smith</strong></td>
                                      <td></td>
                                      <td valign="top" class="Align02">2498 La Cresta</td>
                                      <td></td>
                                      <td valign="top" class="Align02">Lause Atlos</td>
                                      <td></td>
                                      <td valign="top" class="Align02">21,806</td>
                                      <td></td>
                                      <td valign="top" class="Align02">5,263</td>
                                    </tr>
                                    <tr class="Row01">
                                      <td align="center" valign="top" class="YellowTabText"><strong>78</strong></td>
                                      <td></td>
                                      <td align="left" valign="top" class="Align01"><strong> Jeff, Hardy</strong></td>
                                      <td></td>
                                      <td valign="top" class="Align02">123 Main Street</td>
                                      <td></td>
                                      <td valign="top" class="Align02">Aspen</td>
                                      <td></td>
                                      <td valign="top" class="Align02">21,806</td>
                                      <td></td>
                                      <td valign="top" class="Align02">2,365</td>
                                    </tr>
                                    <tr class="Row02">
                                      <td align="center" valign="top" class="YellowTabText"> <strong>86</strong></td>
                                      <td></td>
                                      <td align="left" valign="top"><strong>William, Smith</strong></td>
                                      <td></td>
                                      <td valign="top" class="Align02">123 Main Street</td>
                                      <td></td>
                                      <td valign="top" class="Align02">Cape Tola</td>
                                      <td></td>
                                      <td valign="top" class="Align02">21,806</td>
                                      <td></td>
                                      <td valign="top" class="Align02">5,263</td>
                                    </tr>
                                    <tr class="Row01">
                                      <td align="center" valign="top" class="YellowTabText"><strong>56</strong></td>
                                      <td></td>
                                      <td align="left" valign="top" class="Align01"><strong> David Boon</strong></td>
                                      <td></td>
                                      <td valign="top" class="Align02">123 Main Street</td>
                                      <td></td>
                                      <td valign="top" class="Align02">Dallas</td>
                                      <td></td>
                                      <td valign="top" class="Align02">21,806</td>
                                      <td></td>
                                      <td valign="top" class="Align02">5,263</td>
                                    </tr>
                                    <tr class="Row02">
                                      <td align="center" valign="top" class="YellowTabText"><strong>89</strong></td>
                                      <td></td>
                                      <td align="left" valign="top"><strong>Jeff, Crow</strong></td>
                                      <td></td>
                                      <td valign="top" class="Align02">123 Main Street</td>
                                      <td></td>
                                      <td valign="top" class="Align02">Boulder</td>
                                      <td></td>
                                      <td valign="top" class="Align02">21,806</td>
                                      <td></td>
                                      <td valign="top" class="Align02">5,263</td>
                                    </tr>
                                    <tr class="Row01">
                                      <td align="center" valign="top" class="YellowTabText"><strong>98</strong></td>
                                      <td></td>
                                      <td align="left" valign="top" class="Align01"><strong> Martin Crow</strong></td>
                                      <td></td>
                                      <td valign="top" class="Align02">123 Main Street</td>
                                      <td></td>
                                      <td valign="top" class="Align02">Lause Atlos</td>
                                      <td></td>
                                      <td valign="top" class="Align02">21,806</td>
                                      <td></td>
                                      <td valign="top" class="Align02">5,263</td>
                                    </tr>
                                    <tr class="Row02">
                                      <td align="center" valign="top" class="YellowTabText"><strong>72</strong></td>
                                      <td></td>
                                      <td align="left" valign="top"><strong>Courtney, Walsh</strong></td>
                                      <td></td>
                                      <td valign="top" class="Align02">123 Main Street</td>
                                      <td></td>
                                      <td valign="top" class="Align02">Aspen</td>
                                      <td></td>
                                      <td valign="top" class="Align02">21,806</td>
                                      <td></td>
                                      <td valign="top" class="Align02">5,263</td>
                                    </tr>
                                    <tr class="Row01">
                                      <td align="center" valign="top" class="YellowTabText"><strong>76</strong></td>
                                      <td></td>
                                      <td align="left" valign="top" class="Align01"><strong> Ian, Botham</strong></td>
                                      <td></td>
                                      <td valign="top" class="Align02">123 Main Street</td>
                                      <td></td>
                                      <td valign="top" class="Align02">Cape Tola</td>
                                      <td></td>
                                      <td valign="top" class="Align02">21,806</td>
                                      <td></td>
                                      <td valign="top" class="Align02">5,263</td>
                                    </tr>
                                    <tr class="Row02">
                                      <td align="center" valign="top" class="YellowTabText"><strong>68</strong></td>
                                      <td></td>
                                      <td align="left" valign="top"><strong>David, Gover</strong></td>
                                      <td></td>
                                      <td valign="top" class="Align02">123 Main Street</td>
                                      <td></td>
                                      <td valign="top" class="Align02">Dallas</td>
                                      <td></td>
                                      <td valign="top" class="Align02">21,806</td>
                                      <td></td>
                                      <td valign="top" class="Align02">5,263</td>
                                    </tr>
                                    <tr class="Row01">
                                      <td align="center" valign="top" class="YellowTabText">65</td>
                                      <td></td>
                                      <td align="left" valign="top" class="Align01"><strong> Jazzy, Alexander</strong></td>
                                      <td></td>
                                      <td valign="top" class="Align02">123 Main Street</td>
                                      <td></td>
                                      <td valign="top" class="Align02">Boulder</td>
                                      <td></td>
                                      <td valign="top" class="Align02">21,806</td>
                                      <td></td>
                                      <td valign="top" class="Align02">5,263</td>
                                    </tr>
                                    <tr class="Row02">
                                      <td align="center" valign="top" class="YellowTabText"><strong>96</strong></td>
                                      <td></td>
                                      <td align="left" valign="top"><strong>Martin, Harley</strong></td>
                                      <td></td>
                                      <td valign="top" class="Align02">123 Main Street</td>
                                      <td></td>
                                      <td valign="top" class="Align02">Lause Atlos</td>
                                      <td></td>
                                      <td valign="top" class="Align02">21,806</td>
                                      <td></td>
                                      <td valign="top" class="Align02">5,263</td>
                                    </tr>
                                    <tr class="Row01">
                                      <td align="center" valign="top" class="YellowTabText"><strong>95</strong></td>
                                      <td></td>
                                      <td align="left" valign="top" class="Align01"><strong> Melcum, Marshal</strong></td>
                                      <td></td>
                                      <td valign="top" class="Align02">123 Main Street</td>
                                      <td></td>
                                      <td valign="top" class="Align02">Aspen</td>
                                      <td></td>
                                      <td valign="top" class="Align02">21,806</td>
                                      <td></td>
                                      <td valign="top" class="Align02">5,263</td>
                                    </tr>
                                    <tr class="Row02">
                                      <td align="center" valign="top" class="YellowTabText"><strong>58</strong></td>
                                      <td></td>
                                      <td align="left" valign="top" class="Align01"><strong>Brett, Lee</strong></td>
                                      <td></td>
                                      <td valign="top" class="Align02">123 Main Street</td>
                                      <td></td>
                                      <td valign="top" class="Align02">Cape Tola</td>
                                      <td></td>
                                      <td valign="top" class="Align02">21,806</td>
                                      <td></td>
                                      <td valign="top" class="Align02">5,263</td>
                                    </tr>
                                    <tr class="Row01">
                                      <td align="center" valign="top" class="YellowTabText"><strong>78</strong></td>
                                      <td></td>
                                      <td align="left" valign="top" class="Align01"><strong>Alexander</strong></td>
                                      <td></td>
                                      <td valign="top" class="Align02">123 Main Street</td>
                                      <td></td>
                                      <td valign="top" class="Align02">Dallas</td>
                                      <td></td>
                                      <td valign="top" class="Align02">21,806</td>
                                      <td></td>
                                      <td valign="top" class="Align02">5,263</td>
                                    </tr>
                                    <tr class="Row02">
                                      <td align="center" valign="top" class="YellowTabText"><strong>86</strong></td>
                                      <td></td>
                                      <td align="left" valign="top" class="Align01"><strong>Maria, Johnson</strong></td>
                                      <td></td>
                                      <td valign="top" class="Align02">123 Main Street</td>
                                      <td></td>
                                      <td valign="top" class="Align02">Boulder</td>
                                      <td></td>
                                      <td valign="top" class="Align02">21,806</td>
                                      <td></td>
                                      <td valign="top" class="Align02">5,263</td>
                                    </tr>
                                    <tr class="Row01">
                                      <td align="center" valign="top" class="YellowTabText"><strong>65</strong></td>
                                      <td></td>
                                      <td align="left" valign="top" class="Align01"><strong>Johnson</strong></td>
                                      <td></td>
                                      <td valign="top" class="Align02">123 Main Street</td>
                                      <td></td>
                                      <td valign="top" class="Align02">Lause Atlos</td>
                                      <td></td>
                                      <td valign="top" class="Align02">21,806</td>
                                     <td></td>
                                      <td valign="top" class="Align02">5,263</td>
                                    </tr>
                                    <tr class="Row02">
                                      <td align="center" valign="top" class="YellowTabText"><strong>45</strong></td>
                                      <td></td>
                                      <td align="left" valign="top" class="Align01"><strong>Micheal</strong></td>
                                      <td></td>
                                      <td valign="top" class="Align02">123 Main Street</td>
                                      <td></td>
                                      <td valign="top" class="Align02">Aspen</td>
                                      <td></td>
                                      <td valign="top" class="Align02">21,806</td>
                                      <td></td>
                                      <td valign="top" class="Align02">5,263</td>
                                    </tr>
                                  </table>  </div></td>
                                      </tr>
                                    </table>
								  
								  
								  
								  
								  
                                  </td>
                                <td width="10" class="CorBg03"></td>
                              </tr>
                              <tr>
                                <td class="CorBg02"></td>
                                <td class="CorBg03"></td>
                              </tr>
                              <tr>
                                <td><img src="/images/cor03.gif" alt="" border="0" /></td>
                                <td class="CorBg04"></td>
                                <td><img src="/images/cor04.gif" alt="" border="0" /></td>
                              </tr>
                          </table></td>
                        </tr>
                      </table></td>
                    </tr>
                  </table></td>
				</tr>
              
				</table>



