
<table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="CampaignLN"  style="border-top:2px solid #ddd9c3;">Campaign Wizard</td>
                        </tr>
                        <tr>
                          <td class="CampaignLN"><a href="#">All Campaigns</a></td>
                        </tr>
                        <tr>
                          <td class="CampaignLN"><a href="#">Refinance</a></td>
                        </tr>
                        <tr>
                          <td class="CampaignLN"><a href="#">Debt Consolidation</a></td>
                        </tr>
                        <tr>
                          <td class="CampaignLN"><a href="#">College Planning</a></td>
                        </tr>
                        <tr>
                          <td class="CampaignLN"><a href="#">Retirement Planning</a></td>
                        </tr>
                        <tr>
                          <td class="CampaignLN"><a href="#">Rate Risk</a></td>
                        </tr>
                        <tr>
                          <td class="CampaignLN"><a href="#">Seasonal</a></td>
                        </tr>
                        <tr>
                          <td class="CampaignLN"><a href="#">Report Templates</a></td>
                        </tr>
                        <tr>
                          <td class="CampaignLN"><a href="#">Email Templates</a></td>
                        </tr>
                      </table>