<table width="384" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td><img src="/images/cor01.gif" alt="" border="0" /></td>
						<td class="CorBg01"></td>
						<td><img src="/images/cor02.gif" alt="" border="0" /></td>
					</tr>
					<tr>
						<td width="10" class="CorBg02"></td>
						<td width="364" valign="top"><div class="Heading01Divs03" style="float:left;">
						<%= render_box_arrow(__FILE__, 'Borrower & Co-Borrower Information') %></div><br /><br /><br /><br />
							
							<table width="364" border="0" cellspacing="0" cellpadding="2" class="Text01">
							<tr>
								<td valign="top" colspan="3">
									<div class="TextLarge02">Anne Wilkins / Bob Wilkins<br />
									Financial Snapshot (as of 4/25/2007)</div></td>
							</tr>
							<tr>
								<td height="10"></td>
							</tr>
							<tr>
								<td valign="top">
									FICO Scores</td>
								<td width="10"></td>
								<td valign="top" align="right">
									<span>000 / 000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Base Income</td>
								<td></td>
								<td valign="top" align="right">
									<span>$ 00,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Rental Income</td>
								<td></td>
								<td valign="top" align="right">
									<span>-</span></td>
							</tr>
							<tr>
								<td valign="top">
									Other</td>
								<td></td>
								<td valign="top" align="right" style="border-bottom:1px solid #DDD9C3;">
									<span>-</span></td>
							</tr>
							<tr>
								<td valign="top">
									Monthly HH Income</td>
								<td></td>
								<td valign="top" align="right">
									<span>$ 00,000</span></td>
							</tr>
							<tr>
								<td height="20"></td>
							</tr>
							<tr>
								<td valign="top">
									Mortgage Payments</td>
								<td></td>
								<td valign="top" align="right">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Other Debt</td>
								<td></td>
								<td valign="top" align="right">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Other Expenses</td>
								<td></td>
								<td valign="top" align="right" style="border-bottom:1px solid #DDD9C3;">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Monthly HH Expenses</td>
								<td></td>
								<td valign="top" align="right">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Debt PMTs to Income</td>
								<td></td>
								<td valign="top" align="right">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td height="20"></td>
							</tr>
							<tr>
								<td valign="top">
									Liquid Assets</td>
								<td></td>
								<td valign="top" align="right">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Property</td>
								<td></td>
								<td valign="top" align="right">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Other Assets</td>
								<td></td>
								<td valign="top" align="right" style="border-bottom:1px solid #DDD9C3;">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Total Assets</td>
								<td></td>
								<td valign="top" align="right">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td height="20"></td>
							</tr>
							<tr>
								<td valign="top">
									Revolving & Installment Loans</td>
								<td></td>
								<td valign="top" align="right">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Mortgages</td>
								<td></td>
								<td valign="top" align="right" style="border-bottom:1px solid #DDD9C3;">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Total Liabilities</td>
								<td></td>
								<td valign="top" align="right" style="border-bottom:1px solid #DDD9C3;">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td valign="top">
									Net Worth</td>
								<td></td>
								<td valign="top" align="right" style="border-bottom:1px solid #DDD9C3;">
									<span>0,000</span></td>
							</tr>
							<tr>
								<td height="20"></td>
							</tr>
							<tr>
								<td valign="top">
									Tax Rate (est)</td>
								<td></td>
								<td valign="top" align="right">
									<span>00%</span></td>
							</tr>
							<tr>
								<td height="20"></td>
							</tr>
							</table>
							
							<table width="344" border="0" cellpadding="0" cellspacing="3" class="Text02">
								<tr>
                          			<td valign="top" colspan="3">
										<div class="TextLarge02">Consumer Debt (as of 4/25/2007)</div></td>
                              	</tr>
                              	<tr>
									<td height="7"></td>
								</tr>
                                  <tr>
                                    <td align="left" >Creditor</td>
                                    <td  align="center">Balance</td>
                                    <td align="center">Payment</td>
                                  </tr>
                                  <tr>
                                    <td align="left">MBNA AMERICA BANK NA</td>
                                    <td align="center">$47,118</td>
                                    <td align="center">$612</td>
                                  </tr>
                                  <tr>
                                    <td align="left">CITI</td>
                                    <td align="center">21,771</td>
                                    <td align="center">562</td>
                                  </tr>
                                  <tr>
                                    <td align="left">MONTEREY CREDIT UNION</td>
                                    <td align="center">17,678</td>
                                    <td align="center">856</td>
                                  </tr>
                                  <tr>
                                    <td align="left">BK 1 ARIZONA</td>
                                    <td align="center">11,338</td>
                                    <td align="center">1,240</td>
                                  </tr>
                                  <tr>
                                    <td align="left">BANK OF AMERICA</td>
                                    <td align="center">9,829</td>
                                    <td align="center">352</td>
                                  </tr>
                                  <tr>
                                    <td align="left">CHASE BANK</td>
                                    <td align="center">3,299</td>
                                    <td align="center">458</td>
                                  </tr>
                                  <tr>
                                    <td align="left">CHASE NA</td>
                                    <td align="center">3,299</td>
                                    <td align="center">685</td>
                                  </tr>
                                  <tr>
                                    <td align="left">FIRST USA BANK</td>
                                    <td align="center">2,165</td>
                                    <td align="center">66</td>
                                  </tr>
                                  <tr>
                                    <td align="left">FIRST USA</td>
                                    <td align="center" style="border-bottom:1px solid #DDD9C3;">130</td>
                                    <td align="center" style="border-bottom:1px solid #DDD9C3;">69</td>
                                  </tr>
                                  <tr>
                                    <td align="left"><strong>Total</strong></td>
                                    <td align="center">$117,227</td>
                                    <td align="center">$4,900</td>
                                  </tr>

                                </table></td>
						<td width="10" class="CorBg03"></td>
					</tr>
					<tr>
						<td><img src="/images/cor03.gif" alt="" border="0" /></td>
						<td class="CorBg04"></td>
						<td><img src="/images/cor04.gif" alt="" border="0" /></td>
					</tr>
</table>