<table width="240" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td><img src="/images/cor01.gif" alt="" border="0" /></td>
						<td class="CorBg01"></td>
						<td><img src="/images/cor02.gif" alt="" border="0" /></td>
					</tr>
					<tr>
						<td width="10" class="CorBg02"></td>
						<td valign="top" width="220">
							<div class="Heading01Divs04">
							
							<%= render_box_arrow(__FILE__, 'Current Mortgage Detail') %>
							</div><br /><br />							<br /><br />	
														
							<table width="220" border="0" cellspacing="0" cellpadding="2" class="Text01">
							<tr>
								<td valign="middle" colspan="3">
									<span class="TextColor01"><strong>Primary Loan -</strong></span> 30 Year Fixed</td>
							</tr>
							<tr>
								<td height="10"></td>
							</tr>
							<tr>
								<td valign="middle" align="left">
									<span class="TextColor01"><strong>MAE Index</strong></span></td>
								<td width="10"></td>
								<td valign="middle" align="center">
									<span class="TextColor01"><strong>98</strong></span></td>
							</tr>
							<tr>
								<td valign="middle">
									Loan Amount</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Est. Balance</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Current Payment</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Current Interest Rate</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Original Term</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Origination Date</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Remaining Term</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Completion Date</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Interest Due Over Life</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Interest Only Term</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Next Rate Adjustment</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Balloon PMT</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Balloon PMT Date</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>000,000</span></td>
							</tr>
							<tr>
								<td class="Dots" colspan="3">&nbsp;</td>
							</tr>
							<tr>
								<td height="20"></td>
							</tr>
							</table>
							
							<table width="220" border="0" cellspacing="0" cellpadding="2" class="Text01">
							<tr>
								<td valign="middle" colspan="3">
									<span class="TextColor01"><strong>Secondary Loan -</strong></span> HELOC</td>
							</tr>
							<tr>
								<td height="10"></td>
							</tr>
							<tr>
								<td valign="middle" align="left">
									<span class="TextColor01"><strong>MAE Index</strong></span></td>
								<td width="10"></td>
								<td valign="middle" align="center">
									<span class="TextColor01"><strong>98</strong></span></td>
							</tr>
							<tr>
								<td valign="middle">
									Loan Amount</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>unknown</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Est. Balance</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>unknown</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Current Payment</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>unknown</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Current Interest Rate</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>unknown</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Original Term</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>unknown</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Origination Date</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>unknown</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Remaining Term</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>unknown</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Completion Date</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>unknown</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Interest Due Over Life</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>unknown</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Interest Only Term</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>unknown</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Next Rate Adjustment</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>N / A</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Balloon PMT</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>N / A</span></td>
							</tr>
							<tr>
								<td valign="middle">
									Balloon PMT Date</td>
								<td width="8"></td>
								<td valign="middle" align="center">
									<span>N / A</span></td>
							</tr>
							</table></td>
						<td width="10" class="CorBg03"></td>
					</tr>
					<tr>
						<td><img src="/images/cor03.gif" alt="" border="0" /></td>
						<td class="CorBg04"></td>
						<td><img src="/images/cor04.gif" alt="" border="0" /></td>
					</tr>
					</table>