 <table width="914"  border="0" cellspacing="0" cellpadding="0">
				
				<tr>
				  <td align="center" valign="top" with="584"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="20%" valign="top" class="CampaignOuterBorder">
					   <%= render :partial => "campaigns/campaigns_side_menu" %>
					  </td>
                      <td width="3%">&nbsp;</td>
                      <td width="79%" align="left"><table width="730" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="left"><table width="670" border="0" cellspacing="0" cellpadding="0">
                              <tr>
							   <td> <%= tabnav :campaigns_campaign_types %></td>                                   
                              </tr>
                          </table></td>
                        </tr>
						
                        <tr>
                          <td height="60" align="left" class="BasicSearchBg" style="padding-left:20px;">
						  
                       
						
						<!-- advance -->
						

   							<div id="seconds_fields">
                          
						  <table width="600" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>&nbsp;</td>
                                <td align="left">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                              </tr>
                              <tr>
                                <td width="54">Name</td>
                                <td width="313" align="left"><input name="textfield" type="text" class="SearchInput" id="textfield" /> &nbsp;
                                <a href="#"><img src="/images/btn02_search.gif" alt="" border="0" align="absmiddle" /></a></td>
                                <td width="230" align="left"><a href="#"></a></td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td align="left">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                              </tr>
                              <tr>
                                <td>Type</td>
                                <td align="left"><select name="select" size="6" multiple="multiple" class="SearchInput001" id="select">
                                  <option value="1">Refinance</option>
                                  <option value="2">Debt Consolidation</option>
                                  <option value="3">College Planning</option>
                                  <option value="4">Retirement Planning</option>
                                  <option value="5">Rate Risk</option>
                                  <option value="6">Seasonal</option>
                                                                                                </select></td>
                                <td align="left">&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td align="left">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                              </tr>
                              <tr>
                                <td>Start Date</td>
                                <td align="left"><input name="entrydate" type="text" class="Input01" id="entrydate" maxlength="128" size="12" value="" readonly="yes" />
                                <a href="javascript:void(0)" onClick="if(self.gfPop)gfPop.fPopCalendar(document.form1.entrydate);return false;" ><img class="PopcalTrigger" align="absmiddle" src="/images/calbtn.gif" width="34" height="22" border="0" alt=""></a> &nbsp; mm/dd/yyyy</td>
                                <td align="left">&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td align="left">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                              </tr>
                              <tr>
                                <td>End Date</td>
                                <td align="left"><input name="enddate" type="text" class="Input01" id="enddate" maxlength="128" size="12" value="" readonly="yes" />
                                <a href="javascript:void(0)" onClick="if(self.gfPop)gfPop.fPopCalendar(document.form1.enddate);return false;" ><img class="PopcalTrigger" align="absmiddle" src="/images/calbtn.gif" width="34" height="22" border="0" alt=""></a> &nbsp; mm/dd/yyyy</td>
                                <td align="left">&nbsp;</td>
                                <td width="3" align="left">&nbsp;</td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                                <td align="left">&nbsp;</td>
                                <td align="left">&nbsp;</td>
                              </tr>
                          </table></div></td>
                        </tr>
                        <tr>
                          <td height="10"></td>
                        </tr>
                        <tr>
                          <td height="60">
						  
						   <div id="second_records">
						  <table width="670" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td><img src="/images/cor01.gif" alt="" border="0" /></td>
                                <td width="100%" class="CorBg01"></td>
                                <td><img src="/images/cor02.gif" alt="" border="0" /></td>
                              </tr>
                              <tr>
                                <td width="10" class="CorBg02"></td>
                                <td width="564" valign="top">
									<%= render_box_arrow(__FILE__, "Campaign List (All)")%><br/><br/><br />
									<table width="660" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
              								<td width="633">
											
												<table width="640" border="0" !align="center" cellpadding="0" cellspacing="0" class="Text20">
												<tr>
													<td width="214" align="left" valign="bottom" class="SubHeadingBlack">
														<table border="0" cellpadding="0" cellspacing="0">
														<tr>
															<td valign="bottom">Campaign</td>
															<td width="2"></td>
															<td valign="bottom">
																
																<a href="#"><img src="/images/arrow_down.gif" alt="" border="0" /></a></td>
														</tr>
														</table></td>
													<td width="10"></td>
													<td width="85" align="center" valign="bottom" class="SubHeadingBlack">
														<table border="0" cellpadding="0" cellspacing="0">
														<tr>
															<td valign="bottom">Type</td>
															<td width="2"></td>
														  <td valign="bottom">
																<a href="#"><img src="/images/arrow_up.gif" alt="" border="0" align="bottom" /></a></td>
														</tr>
													  </table></td>
													<td width="10"></td>
													<td width="85" align="center" valign="bottom" class="SubHeadingBlack">
														<table border="0" cellpadding="0" cellspacing="0">
														<tr>
															<td valign="bottom">Date</td>
															<td width="2"></td>
															<td valign="bottom">
																<a href="#"><img src="/images/arrow_up.gif" alt="" border="0" /></a></td>
														</tr>
														</table></td>
													<td width="10"></td>
													<td width="85" align="center" valign="bottom" class="SubHeadingBlack">
														<table border="0" cellpadding="0" cellspacing="0">
														<tr>
															<td valign="bottom"># of Records</td>
															<td width="2"></td>
															<td valign="bottom">
																<a href="#"><img src="/images/arrow_up.gif" alt="" border="0" /></a></td>
														</tr>
														</table></td>
												</tr>
												<tr>
													<td height="15"></td>
												</tr>
												</table>
												
											<div style="width:auto; /*width:660px;*/ height:250px; overflow:auto;">
                                            <table width="640" border="0" align="center" cellpadding="0" cellspacing="0" class="Text20">
                                              <tr class="Row01">
                                                <td width="214" align="left" valign="top" class="Align01"><strong>November 2008 College Planning</strong></td>
                                                <td width="10"></td>
                                                <td width="85" valign="top" class="Align02">College</td>
                                                <td width="10"></td>
                                                <td width="85" valign="top" class="Align02">11/01/2008</td>
                                                <td width="10"></td>
                                                <td width="85" valign="top" class="Align02">8</td>
                                              </tr>
                                              <tr class="Row02">
                                                <td align="left" valign="top" class="Align01"><strong>3rd Qtr Retirement planning</strong></td>
                                                <td></td>
                                                <td valign="top" class="Align02">Retirement</td>
                                                <td></td>
                                                <td valign="top" class="Align02">11/01/2008</td>
                                                <td></td>
                                                <td valign="top" class="Align02">654</td>
                                              </tr>
                                              <tr class="Row01">
                                                <td align="left" valign="top" class="Align01"><strong> October 2008 Refinance</strong></td>
                                                <td></td>
                                                <td valign="top" class="Align02">Refinance</td>
                                                <td></td>
                                                <td valign="top" class="Align02">11/01/2008</td>
                                                <td></td>
                                                <td valign="top" class="Align02">365</td>
                                              </tr>
                                              <tr class="Row02">
                                                <td align="left" valign="top"><strong>October 2008 Refinance</strong></td>
                                                <td></td>
                                                <td valign="top" class="Align02">Refinance</td>
                                                <td></td>
                                                <td valign="top" class="Align02">11/01/2008</td>
                                                <td></td>
                                                <td valign="top" class="Align02">325</td>
                                              </tr>
                                              <tr class="Row01">
                                                <td align="left" valign="top" class="Align01"><strong>October 2008 Refinance</strong></td>
                                                <td></td>
                                                <td valign="top" class="Align02">Refinance</td>
                                                <td></td>
                                                <td valign="top" class="Align02">11/01/2008</td>
                                                <td></td>
                                                <td valign="top" class="Align02">625</td>
                                              </tr>
                                              <tr class="Row02">
                                                <td align="left" valign="top"><strong>October 2008 Refinance</strong></td>
                                                <td></td>
                                                <td valign="top" class="Align02">Refinance</td>
                                                <td></td>
                                                <td valign="top" class="Align02">11/01/2008</td>
                                                <td></td>
                                                <td valign="top" class="Align02">45</td>
                                              </tr>
                                              <tr class="Row01">
                                                <td align="left" valign="top" class="Align01"><strong>October 2008 Refinance</strong></td>
                                                <td></td>
                                                <td valign="top" class="Align02">Refinance</td>
                                                <td></td>
                                                <td valign="top" class="Align02">11/01/2008</td>
                                                <td></td>
                                                <td valign="top" class="Align02">56</td>
                                              </tr>
                                              <tr class="Row02">
                                                <td align="left" valign="top"><strong>October 2008 Refinance</strong></td>
                                                <td></td>
                                                <td valign="top" class="Align02">Refinance</td>
                                                <td></td>
                                                <td valign="top" class="Align02">11/01/2008</td>
                                                <td></td>
                                                <td valign="top" class="Align02">65</td>
                                              </tr>
                                              <tr class="Row01">
                                                <td align="left" valign="top" class="Align01"><strong>October 2008 Refinance</strong></td>
                                                <td></td>
                                                <td valign="top" class="Align02">Refinance</td>
                                                <td></td>
                                                <td valign="top" class="Align02">11/01/2008</td>
                                                <td></td>
                                                <td valign="top" class="Align02">8</td>
                                              </tr>
                                              <tr class="Row02">
                                                <td align="left" valign="top"><strong>October 2008 Refinance</strong></td>
                                                <td></td>
                                                <td valign="top" class="Align02">Refinance</td>
                                                <td></td>
                                                <td valign="top" class="Align02">11/01/2008</td>
                                                <td></td>
                                                <td valign="top" class="Align02">23</td>
                                              </tr>
                                              <tr class="Row01">
                                                <td align="left" valign="top" class="Align01"><strong>October 2008 Refinance</strong></td>
                                                <td></td>
                                                <td valign="top" class="Align02">Refinance</td>
                                                <td></td>
                                                <td valign="top" class="Align02">11/01/2008</td>
                                                <td></td>
                                                <td valign="top" class="Align02">75</td>
                                              </tr>
                                              <tr class="Row02">
                                                <td align="left" valign="top"><strong>October 2008 Refinance</strong></td>
                                                <td></td>
                                                <td valign="top" class="Align02">Refinance</td>
                                                <td></td>
                                                <td valign="top" class="Align02">11/01/2008</td>
                                                <td></td>
                                                <td valign="top" class="Align02">5</td>
                                              </tr>
                                              <tr class="Row01">
                                                <td align="left" valign="top" class="Align01"><strong>October 2008 Refinance</strong></td>
                                                <td></td>
                                                <td valign="top" class="Align02">Refinance</td>
                                                <td></td>
                                                <td valign="top" class="Align02">11/01/2008</td>
                                                <td></td>
                                                <td valign="top" class="Align02">2</td>
                                              </tr>
                                              <tr class="Row02">
                                                <td align="left" valign="top"><strong>October 2008 Refinance</strong></td>
                                                <td></td>
                                                <td valign="top" class="Align02">Refinance</td>
                                                <td></td>
                                                <td valign="top" class="Align02">11/01/2008</td>
                                                <td></td>
                                                <td valign="top" class="Align02">12</td>
                                              </tr>
                                              <tr class="Row01">
                                                <td align="left" valign="top" class="Align01"><strong>October 2008 Refinance</strong></td>
                                                <td></td>
                                                <td valign="top" class="Align02">Refinance</td>
                                                <td></td>
                                                <td valign="top" class="Align02">11/01/2008</td>
                                                <td></td>
                                                <td valign="top" class="Align02">25</td>
                                              </tr>
                                              <tr class="Row02">
                                                <td align="left" valign="top" class="Align01"><strong>October 2008 Refinance</strong></td>
                                                <td></td>
                                                <td valign="top" class="Align02">Refinance</td>
                                                <td></td>
                                                <td valign="top" class="Align02">11/01/2008</td>
                                                <td></td>
                                                <td valign="top" class="Align02">95</td>
                                              </tr>
                                              <tr class="Row01">
                                                <td align="left" valign="top" class="Align01"><strong>October 2008 Refinance</strong></td>
                                                <td></td>
                                                <td valign="top" class="Align02">Refinance</td>
                                                <td></td>
                                                <td valign="top" class="Align02">11/01/2008</td>
                                                <td></td>
                                                <td valign="top" class="Align02">51</td>
                                              </tr>
                                              <tr class="Row02">
                                                <td align="left" valign="top" class="Align01"><strong>October 2008 Refinance</strong></td>
                                                <td></td>
                                                <td valign="top" class="Align02">Refinance</td>
                                                <td></td>
                                                <td valign="top" class="Align02">11/01/2008</td>
                                                <td></td>
                                                <td valign="top" class="Align02">12</td>
                                              </tr>
                                              <tr class="Row01">
                                                <td align="left" valign="top" class="Align01"><strong>October 2008 Refinance</strong></td>
                                                <td></td>
                                                <td valign="top" class="Align02">Refinance</td>
                                                <td></td>
                                                <td valign="top" class="Align02">11/01/2008</td>
                                                <td></td>
                                                <td valign="top" class="Align02">15</td>
                                              </tr>
                                              <tr class="Row02">
                                                <td align="left" valign="top" class="Align01"><strong>October 2008 Refinance</strong></td>
                                                <td></td>
                                                <td valign="top" class="Align02">Refinance</td>
                                                <td></td>
                                                <td valign="top" class="Align02">11/01/2008</td>
                                                <td></td>
                                                <td valign="top" class="Align02">66</td>
                                              </tr>
                                            </table>
                                        </div></td>
                                      </tr>
                                    </table></td>
                                <td width="10" class="CorBg03"></td>
                              </tr>
                              <tr>
                                <td><img src="/images/cor03.gif" alt="" border="0" /></td>
                                <td class="CorBg04"></td>
                                <td><img src="/images/cor04.gif" alt="" border="0" /></td>
                              </tr>
                          </table></div></td>
                        </tr>
						
						
						
						
						
                      </table></td>
                    </tr>
                  </table></td>
				</tr>
				<tr>
				  <td height="10" align="center" valign="top"></td>
				  </tr>
				<tr>
				  <td align="center" valign="top" with="584">&nbsp;</td>
				  </tr>
				<tr>
					<td align="center" valign="top" with="584">&nbsp;</td>
				  </tr>
				</table>
