<p>
  Use this area to insert closing cost information. This is not intended to serve as a Good Faith Estimate but rather as a general indication of costs to the potential Borrower. Remember to check the box on the right for APR if you intend to quote an APR to the client.  You may name and save typical closing cost scenarios to use in the future by using the Save box towards the top of the section.
</p>