<p>
  The first table in this section shows the estimated home value at various future dates assuming annual appreciation rates ranging from 1-5%. The second table in this section shows how many months it will be before certain excess equity values are achevied at various annual appreciation rates.  
</p>