<p>
  Based on the information you entered on the previous page, this section estimates the after-tax monthly payment. The Borrower will still pay the gross monthly payment shown in the table to the left. The after-tax monthly payment represents what hypothetical payment after taking out the mortgage interest deduction for taxes. 
</p>