<p>
  These graphs show the monthly payment broken out between principal and interest and how it changes over time. The first graph is for the First Mortgage and the second graph is for the Second Mortgage. Using the drop-down box will allow you to choose to show payments for Adjustable Rate Mortgages at the current rate or to use forecasted interest rates based on the MTA Index. 
</p>